# Part 1: Pandas - from Zero to Hero

## DataFrame Basics III

### Sorting DataFrames (Version 1.0 Update)

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic

In [ ]:
titanic.age.sort_values()

In [ ]:
titanic.sort_values(by = "age")

In [ ]:
titanic

In [ ]:
titanic.sort_values(by = "age", ascending = False, inplace = True)

In [ ]:
titanic

In [ ]:
titanic.sort_values(by = ["pclass", "sex", "age"], ascending = [True, True, False], inplace= True)

In [34]:
pd.options.display.max_rows = 900

In [ ]:
titanic

In [ ]:
titanic.sort_index(ascending = True, inplace = True)

In [ ]:
titanic

In [ ]:
titanic.sort_values(by = "age").reset_index(drop = True)
#기본 index는 정렬이 안됨으로, age순으로 정렬한 index를 새로 설정해줌

In [ ]:
titanic.sort_values(by = "age", ignore_index = True)
#위에꺼랑 똑같은 기능, 체이닝메서드 쓰지 않는 방법.

### Ranking DataFrames with rank()

In [1]:
import pandas as pd

In [2]:
sales = pd.Series([15, 32, 45, 21, 55, 15, 0],  index = ["Mo", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"])

In [3]:
sales = pd.Series([15, 32, 45, 15, 55, 15, 0],  index = ["Mo", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"])

In [4]:
sales

Mo     15
Tue    32
Wed    45
Thu    15
Fri    55
Sat    15
Sun     0
dtype: int64

In [5]:
sales.sort_values(ascending = False)

Fri    55
Wed    45
Tue    32
Mo     15
Thu    15
Sat    15
Sun     0
dtype: int64

In [6]:
sales.rank(ascending=False, method = "min").sort_values(ascending = True)
#등수 매기기, method는 등수가 정수로 정렬되게 해줌, method가 없으면 값의 평균으로 예를 들어 5등이 2명이면
#2명의 등수가 5.5 가 된다. 기본값이 average이기 때문에 평균값으로 넣는 것

Fri    1.0
Wed    2.0
Tue    3.0
Mo     4.0
Thu    4.0
Sat    4.0
Sun    7.0
dtype: float64

In [27]:
sales.rank(ascending=False, method="min", pct=True).sort_values()

Fri    0.142857
Wed    0.285714
Tue    0.428571
Mo     0.571429
Thu    0.571429
Sat    0.571429
Sun    1.000000
dtype: float64

In [25]:
distribution_percent = (sales / sales.sum()) * 100
print(distribution_percent)
#각 데이터 분포퍼센트로 나타내기

Mo      8.474576
Tue    18.079096
Wed    25.423729
Thu     8.474576
Fri    31.073446
Sat     8.474576
Sun     0.000000
dtype: float64

In [61]:
titanic = pd.read_csv("titanic.csv")

In [30]:
titanic.fare.rank(ascending = False)

0      815.0
1      103.0
2      659.5
3      144.0
4      628.0
       ...
886    484.5
887    237.5
888    345.5
889    237.5
890    768.5
Name: fare, Length: 891, dtype: float64

In [64]:
titanic["fare_rank"] = titanic.fare.rank(ascending = False, method="min")

In [65]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,fare_rank
0,0,3,male,22.0,1,0,7.2500,S,NaN,809.0
1,1,1,female,38.0,1,0,71.2833,C,C,103.0
2,1,3,female,26.0,0,0,7.9250,S,NaN,651.0
3,1,1,female,35.0,1,0,53.1000,S,C,142.0
4,0,3,male,35.0,0,0,8.0500,S,NaN,607.0

In [63]:
titanic.sort_values("fare", ascending= False)

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
258         1       1  female  35.00      0      0  512.3292        C  NaN
737         1       1    male  35.00      0      0  512.3292        C    B
679         1       1    male  36.00      0      1  512.3292        C    B
88          1       1  female  23.00      3      2  263.0000        S    C
27          0       1    male  19.00      3      2  263.0000        S    C
341         1       1  female  24.00      3      2  263.0000        S    C
438         0       1    male  64.00      1      4  263.0000        S    C
311         1       1  female  18.00      2      2  262.3750        C    B
742         1       1  female  21.00      2      2  262.3750        C    B
118         0       1    male  24.00      0      1  247.5208        C    B
299         1       1  female  50.00      0      1  247.5208        C    B
557         0       1    male    NaN      0      0  227.5250        C  NaN
700         1       1  female  18.00      1      0  227.5250        C    C
380         1       1  female  42.00      0      0  227.5250        C  NaN
716         1       1  female  38.00      0      0  227.5250        C    C
527         0       1    male    NaN      0      0  221.7792        S    C
377         0       1    male  27.00      0      2  211.5000        C    C
730         1       1  female  29.00      0      0  211.3375        S    B
779         1       1  female  43.00      0      1  211.3375        S    B
689         1       1  female  15.00      0      1  211.3375        S    B
318         1       1  female  31.00      0      2  164.8667        S    C
856         1       1  female  45.00      1      1  164.8667        S  NaN
268         1       1  female  58.00      0      1  153.4625        S    C
332         0       1    male  38.00      0      1  153.4625        S    C
609         1       1  female  40.00      0      0  153.4625        S    C
498         0       1  female  25.00      1      2  151.5500        S    C
305         1       1    male   0.92      1      2  151.5500        S    C
297         0       1  female   2.00      1      2  151.5500        S    C
708         1       1  female  22.00      0      0  151.5500        S  NaN
195         1       1  female  58.00      0      0  146.5208        C    B
31          1       1  female    NaN      1      0  146.5208        C    B
373         0       1    male  22.00      0      0  135.6333        C  NaN
325         1       1  female  36.00      0      0  135.6333        C    C
269         1       1  female  35.00      0      0  135.6333        S    C
319         1       1  female  40.00      1      1  134.5000        C    E
337         1       1  female  41.00      0      0  134.5000        C    E
334         1       1  female    NaN      1      0  133.6500        S  NaN
660         1       1    male  50.00      2      0  133.6500        S  NaN
435         1       1  female  14.00      1      2  120.0000        S    B
802         1       1    male  11.00      1      2  120.0000        S    B
763         1       1  female  36.00      1      2  120.0000        S    B
390         1       1    male  36.00      1      2  120.0000        S    B
215         1       1  female  31.00      1      0  113.2750        C    D
659         0       1    male  58.00      0      2  113.2750        C    D
393         1       1  female  23.00      1      0  113.2750        C    D
581         1       1  female  39.00      1      1  110.8833        C    C
550         1       1    male  17.00      0      2  110.8833        C    C
698         0       1    male  49.00      1      1  110.8833        C    C
306         1       1  female    NaN      0      0  110.8833        C  NaN
307         1       1  female  17.00      1      0  108.9000        C    C
505         0       1    male  18.00      1      0  108.9000        C    C
544         0       1    male  50.00      1      0  106.4250        C    C
537         1       1  female  30.00      0      0  106.4250        C  NaN
820         1       1  female  52.00      1      1   93.5000        S    B
520         1       1  female  30.00      0      0   93.5000        S    B
291         1       1  female  19.00      1      0   91.0792        C    B
484         1       1    male  25.00      1      0   91.0792        C    B
486         1       1  female  35.00      1      0   90.0000        S    C
412         1       1  female  33.00      1      0   90.0000        Q    C
245         0       1    male  44.00      2      0   90.0000        Q    C
224         1       1    male  38.00      1      0   90.0000        S    C
849         1       1  female    NaN      1      0   89.1042        C    C
453         1       1    male  49.00      1      0   89.1042        C    C
504         1       1  female  16.00      0      0   86.5000        S    B
257         1       1  female  30.00      0      0   86.5000        S    B
759         1       1  female  33.00      0      0   86.5000        S    B
62          0       1    male  45.00      1      0   83.4750        S    C
230         1       1  female  35.00      1      0   83.4750        S    C
879         1       1  female  56.00      0      1   83.1583        C    C
835         1       1  female  39.00      1      1   83.1583        C    E
310         1       1  female  24.00      0      0   83.1583        C    C
375         1       1  female    NaN      1      0   82.1708        C  NaN
34          0       1    male  28.00      1      0   82.1708        C  NaN
445         1       1    male   4.00      0      2   81.8583        S    A
829         1       1  female  62.00      0      0   80.0000      NaN    B
61          1       1  female  38.00      0      0   80.0000      NaN    B
558         1       1  female  39.00      1      1   79.6500        S    E
262         0       1    male  52.00      1      1   79.6500        S    E
585         1       1  female  18.00      0      2   79.6500        S    E
256         1       1  female    NaN      0      0   79.2000        C  NaN
139         0       1    male  24.00      0      0   79.2000        C    B
789         0       1    male  46.00      0      0   79.2000        C    B
587         1       1    male  60.00      1      1   79.2000        C    B
741         0       1    male  36.00      1      0   78.8500        S    C
290         1       1  female  26.00      0      0   78.8500        S  NaN
496         1       1  female  54.00      1      0   78.2667        C    D
591         1       1  female  52.00      1      0   78.2667        C    D
627         1       1  female  21.00      0      0   77.9583        S    D
275         1       1  female  63.00      1      0   77.9583        S    D
765         1       1  female  51.00      1      0   77.9583        S    D
102         0       1    male  21.00      0      1   77.2875        S    D
124         0       1    male  54.00      0      1   77.2875        S    D
52          1       1  female  49.00      1      0   76.7292        C    D
681         1       1    male  27.00      0      0   76.7292        C    D
645         1       1    male  48.00      1      0   76.7292        C    D
218         1       1  female  32.00      0      0   76.2917        C    D
366         1       1  female  60.00      1      0   75.2500        C    D
655         0       2    male  24.00      2      0   73.5000        S  NaN
385         0       2    male  18.00      0      0   73.5000        S  NaN
72          0       2    male  21.00      0      0   73.5000        S  NaN
665         0       2    male  32.00      2      0   73.5000        S  NaN
120         0       2    male  21.00      2      0   73.5000        S  NaN
1           1       1  female  38.00      1      0   71.2833        C    C
540         1       1  female  36.00      0      2   71.0000        S    B
745         0       1    male  70.00      1      1   71.0000        S    B
863         0       3  female    NaN      8      2   69.5500        S  NaN
324         0       3    male    NaN      8      2   69.5500        S  NaN
180         0       3  female    NaN      8      2   69.5500        S  NaN
201         0       3    male    NaN      8      2   69.5500        S  NaN
159         0       3    male    NaN      8      2   69.5500        S  NaN
792         0       3  female    NaN      8      2   69.5500        S  NaN
846         0       3    male    NaN      8      2   69.5500        S  NaN
369         1       1  female  24.00      0      0   69.3000        C    B
641         1       1  female  24.00      0      0   69.3000        C    B
151         1       1  female  22.00      1      0   66.6000        S    C
336         0       1    male  29.00      1      0   66.6000        S    C
754         1       2  female  48.00      1      2   65.0000        S  NaN
615         1       2  female  24.00      1      2   65.0000        S  NaN
97          1       1    male  23.00      0      1   63.3583        C    D
54          0       1    male  65.00      0      1   61.9792        C    B
155         0       1    male  51.00      0      1   61.3792        C  NaN
92          0       1    male  46.00      1      0   61.1750        S    E
513         1       1  female  54.00      1      0   59.4000        C  NaN
523         1       1  female  44.00      0      1   57.9792        C    B
329         1       1  female  16.00      0      1   57.9792        C    B
781         1       1  female  17.00      1      0   57.0000        S    B
690         1       1    male  31.00      1      0   57.0000        S    B
599         1       1    male  49.00      1      0   56.9292        C    A
309         1       1  female  30.00      0      0   56.9292        C    E
169         0       3    male  28.00      0      0   56.4958        S  NaN
838         1       3    male  32.00      0      0   56.4958        S  NaN
692         1       3    male    NaN      0      0   56.4958        S  NaN
74          1       3    male  32.00      0      0   56.4958        S  NaN
643         1       3    male    NaN      0      0   56.4958        S  NaN
826         0       3    male    NaN      0      0   56.4958        S  NaN
509         1       3    male  26.00      0      0   56.4958        S  NaN
577         1       1  female  39.00      1      0   55.9000        S    E
434         0       1    male  50.00      1      0   55.9000        S    E
370         1       1    male  25.00      1      0   55.4417        C    E
166         1       1  female    NaN      0      1   55.0000        S    E
356         1       1  female  22.00      0      1   55.0000        S    E
809         1       1  female  33.00      1      0   53.1000        S    E
748         0       1    male  19.00      1      0   53.1000        S    D
137         0       1    male  37.00      1      0   53.1000        S    C
724         1       1    male  27.00      1      0   53.1000        S    E
3           1       1  female  35.00      1      0   53.1000        S    C
871         1       1  female  47.00      1      1   52.5542        S    D
621         1       1    male  42.00      1      0   52.5542        S    D
248         1       1    male  37.00      1      1   52.5542        S    D
669         1       1  female    NaN      1      0   52.0000        S    C
383         1       1  female  35.00      1      0   52.0000        S  NaN
671         0       1    male  31.00      1      0   52.0000        S    B
712         1       1    male  48.00      1      0   52.0000        S    C
35          0       1    male  42.00      1      0   52.0000        S  NaN
475         0       1    male    NaN      0      0   52.0000        S    A
110         0       1    male  47.00      0      0   52.0000        S    C
6           0       1    male  54.00      0      0   51.8625        S    E
457         1       1  female    NaN      1      0   51.8625        S    D
571         1       1  female  53.00      2      0   51.4792        S    C
867         0       1    male  31.00      0      0   50.4958        S    A
185         0       1    male    NaN      0      0   50.0000        S    A
493         0       1    male  71.00      0      0   49.5042        C  NaN
710         1       1  female  24.00      0      0   49.5042        C    C
539         1       1  female  22.00      0      2   49.5000        C    B
83          0       1    male  28.00      0      0   47.1000        S  NaN
71          0       3  female  16.00      5      2   46.9000        S  NaN
386         0       3    male   1.00      5      2   46.9000        S  NaN
480         0       3    male   9.00      5      2   46.9000        S  NaN
678         0       3  female  43.00      1      6   46.9000        S  NaN
683         0       3    male  14.00      5      2   46.9000        S  NaN
59          0       3    male  11.00      5      2   46.9000        S  NaN
602         0       1    male    NaN      0      0   42.4000        S  NaN
608         1       2  female  22.00      1      2   41.5792        C  NaN
685         0       2    male  25.00      1      2   41.5792        C  NaN
43          1       2  female   3.00      1      2   41.5792        C  NaN
583         0       1    male  36.00      0      0   40.1250        C    A
686         0       3    male  14.00      4      1   39.6875        S  NaN
266         0       3    male  16.00      4      1   39.6875        S  NaN
638         0       3  female  41.00      0      5   39.6875        S  NaN
164         0       3    male   1.00      4      1   39.6875        S  NaN
824         0       3    male   2.00      4      1   39.6875        S  NaN
50          0       3    male   7.00      4      1   39.6875        S  NaN
766         0       1    male    NaN      0      0   39.6000        C  NaN
556         1       1  female  48.00      1      0   39.6000        C    A
853         1       1  female  16.00      0      1   39.4000        S    D
670         1       2  female  40.00      1      1   39.0000        S  NaN
684         0       2    male  60.00      1      1   39.0000        S  NaN
183         1       2    male   1.00      2      1   39.0000        S    F
618         1       2  female   4.00      2      1   39.0000        S    F
462         0       1    male  47.00      0      0   38.5000        S    E
817         0       2    male  31.00      1      1   37.0042        C  NaN
827         1       2    male   1.00      0      2   37.0042        C  NaN
145         0       2    male  19.00      1      1   36.7500        S  NaN
549         1       2    male   8.00      1      1   36.7500        S  NaN
647         1       1    male  56.00      0      0   35.5000        C    A
339         0       1    male  45.00      0      0   35.5000        S  NaN
55          1       1    male    NaN      0      0   35.5000        S    C
23          1       1    male  28.00      0      0   35.5000        S    A
351         0       1    male    NaN      0      0   35.0000        S    C
96          0       1    male  71.00      0      0   34.6542        C    A
86          0       3    male  16.00      1      3   34.3750        S  NaN
436         0       3  female  21.00      2      2   34.3750        S  NaN
736         0       3  female  48.00      1      3   34.3750        S  NaN
147         0       3  female   9.00      2      2   34.3750        S  NaN
515         0       1    male  47.00      0      0   34.0208        S    D
170         0       1    male  61.00      0      0   33.5000        S    B
848         0       2    male  28.00      0      1   33.0000        S  NaN
720         1       2  female   6.00      0      1   33.0000        S  NaN
596         1       2  female    NaN      0      0   33.0000        S  NaN
416         1       2  female  34.00      1      1   32.5000        S  NaN
625         0       1    male  61.00      0      0   32.3208        S    D
25          1       3  female  38.00      1      5   31.3875        S  NaN
182         0       3    male   9.00      4      2   31.3875        S  NaN
233         1       3  female   5.00      4      2   31.3875        S  NaN
261         1       3    male   3.00      4      2   31.3875        S  NaN
813         0       3  female   6.00      4      2   31.2750        S  NaN
13          0       3    male  39.00      1      5   31.2750        S  NaN
119         0       3  female   2.00      4      2   31.2750        S  NaN
610         0       3  female  39.00      1      5   31.2750        S  NaN
850         0       3    male   4.00      4      2   31.2750        S  NaN
542         0       3  female  11.00      4      2   31.2750        S  NaN
541         0       3  female   9.00      4      2   31.2750        S  NaN
270         0       1    male    NaN      0      0   31.0000        S  NaN
209         1       1    male  40.00      0      0   31.0000        C    A
842         1       1  female  30.00      0      0   31.0000        C  NaN
793         0       1    male    NaN      0      0   30.6958        C  NaN
174         0       1    male  56.00      0      0   30.6958        C    A
492         0       1    male  55.00      0      0   30.5000        S    C
607         1       1    male  27.00      0      0   30.5000        S  NaN
449         1       1    male  52.00      0      0   30.5000        S    C
298         1       1    male    NaN      0      0   30.5000        S    C
632         1       1    male  32.00      0      0   30.5000        C    B
122         0       2    male  32.50      1      0   30.0708        C  NaN
9           1       2  female  14.00      1      0   30.0708        C  NaN
740         1       1    male    NaN      0      0   30.0000        S    D
889         1       1    male  26.00      0      0   30.0000        C    C
580         1       2  female  25.00      1      1   30.0000        S  NaN
782         0       1    male  29.00      0      0   30.0000        S    D
630         1       1    male  80.00      0      0   30.0000        S    A
887         1       1  female  19.00      0      0   30.0000        S    B
839         1       1    male    NaN      0      0   29.7000        C    C
487         0       1    male  58.00      0      0   29.7000        C    B
273         0       1    male  37.00      0      1   29.7000        C    C
16          0       3    male   2.00      4      1   29.1250        Q  NaN
885         0       3  female  39.00      0      5   29.1250        Q  NaN
787         0       3    male   8.00      4      1   29.1250        Q  NaN
171         0       3    male   4.00      4      1   29.1250        Q  NaN
278         0       3    male   7.00      4      1   29.1250        Q  NaN
78          1       2    male   0.83      0      2   29.0000        S  NaN
323         1       2  female  22.00      1      1   29.0000        S  NaN
177         0       1  female  50.00      0      0   28.7125        C    C
331         0       1    male  45.50      0      0   28.5000        S    C
360         0       3    male  40.00      1      4   27.9000        S  NaN
642         0       3  female   2.00      3      2   27.9000        S  NaN
63          0       3    male   4.00      3      2   27.9000        S  NaN
819         0       3    male  10.00      3      2   27.9000        S  NaN
634         0       3  female   9.00      3      2   27.9000        S  NaN
167         0       3  female  45.00      1      4   27.9000        S  NaN
472         1       2  female  33.00      1      2   27.7500        S  NaN
450         0       2    male  36.00      1      2   27.7500        S  NaN
452         0       1    male  30.00      0      0   27.7500        C    C
58          1       2  female   5.00      1      2   27.7500        S  NaN
361         0       2    male  29.00      1      0   27.7208        C  NaN
194         1       1  female  44.00      0      0   27.7208        C    B
295         0       1    male    NaN      0      0   27.7208        C  NaN

In [66]:
titanic.sort_values(by="fare_rank", ignore_index=True)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,fare_rank
0,1,1,male,35.00,0,0,512.3292,C,B,1.0
1,1,1,female,35.00,0,0,512.3292,C,NaN,1.0
2,1,1,male,36.00,0,1,512.3292,C,B,1.0
3,1,1,female,23.00,3,2,263.0000,S,C,4.0
4,1,1,female,24.00,3,2,263.0000,S,C,4.0
5,0,1,male,64.00,1,4,263.0000,S,C,4.0
6,0,1,male,19.00,3,2,263.0000,S,C,4.0
7,1,1,female,21.00,2,2,262.3750,C,B,8.0
8,1,1,female,18.00,2,2,262.3750,C,B,8.0
9,0,1,male,24.00,0,1,247.5208,C,B,10.0
10,1,1,female,50.00,0,1,247.5208,C,B,10.0
11,1,1,female,38.00,0,0,227.5250,C,C,12.0
12,1,1,female,18.00,1,0,227.5250,C,C,12.0
13,1,1,female,42.00,0,0,227.5250,C,NaN,12.0
14,0,1,male,NaN,0,0,227.5250,C,NaN,12.0
15,0,1,male,NaN,0,0,221.7792,S,C,16.0
16,0,1,male,27.00,0,2,211.5000,C,C,17.0
17,1,1,female,15.00,0,1,211.3375,S,B,18.0
18,1,1,female,29.00,0,0,211.3375,S,B,18.0
19,1,1,female,43.00,0,1,211.3375,S,B,18.0
20,1,1,female,45.00,1,1,164.8667,S,NaN,21.0
21,1,1,female,31.00,0,2,164.8667,S,C,21.0
22,0,1,male,38.00,0,1,153.4625,S,C,23.0
23,1,1,female,40.00,0,0,153.4625,S,C,23.0
24,1,1,female,58.00,0,1,153.4625,S,C,23.0
25,0,1,female,2.00,1,2,151.5500,S,C,26.0
26,0,1,female,25.00,1,2,151.5500,S,C,26.0
27,1,1,male,0.92,1,2,151.5500,S,C,26.0
28,1,1,female,22.00,0,0,151.5500,S,NaN,26.0
29,1,1,female,NaN,1,0,146.5208,C,B,30.0
30,1,1,female,58.00,0,0,146.5208,C,B,30.0
31,0,1,male,22.00,0,0,135.6333,C,NaN,32.0
32,1,1,female,36.00,0,0,135.6333,C,C,32.0
33,1,1,female,35.00,0,0,135.6333,S,C,32.0
34,1,1,female,40.00,1,1,134.5000,C,E,35.0
35,1,1,female,41.00,0,0,134.5000,C,E,35.0
36,1,1,female,NaN,1,0,133.6500,S,NaN,37.0
37,1,1,male,50.00,2,0,133.6500,S,NaN,37.0
38,1,1,male,36.00,1,2,120.0000,S,B,39.0
39,1,1,male,11.00,1,2,120.0000,S,B,39.0
40,1,1,female,14.00,1,2,120.0000,S,B,39.0
41,1,1,female,36.00,1,2,120.0000,S,B,39.0
42,0,1,male,58.00,0,2,113.2750,C,D,43.0
43,1,1,female,23.00,1,0,113.2750,C,D,43.0
44,1,1,female,31.00,1,0,113.2750,C,D,43.0
45,1,1,male,17.00,0,2,110.8833,C,C,46.0
46,0,1,male,49.00,1,1,110.8833,C,C,46.0
47,1,1,female,39.00,1,1,110.8833,C,C,46.0
48,1,1,female,NaN,0,0,110.8833,C,NaN,46.0
49,1,1,female,17.00,1,0,108.9000,C,C,50.0
50,0,1,male,18.00,1,0,108.9000,C,C,50.0
51,0,1,male,50.00,1,0,106.4250,C,C,52.0
52,1,1,female,30.00,0,0,106.4250,C,NaN,52.0
53,1,1,female,52.00,1,1,93.5000,S,B,54.0
54,1,1,female,30.00,0,0,93.5000,S,B,54.0
55,1,1,male,25.00,1,0,91.0792,C,B,56.0
56,1,1,female,19.00,1,0,91.0792,C,B,56.0
57,0,1,male,44.00,2,0,90.0000,Q,C,58.0
58,1,1,male,38.00,1,0,90.0000,S,C,58.0
59,1,1,female,33.00,1,0,90.0000,Q,C,58.0
60,1,1,female,35.00,1,0,90.0000,S,C,58.0
61,1,1,female,NaN,1,0,89.1042,C,C,62.0
62,1,1,male,49.00,1,0,89.1042,C,C,62.0
63,1,1,female,33.00,0,0,86.5000,S,B,64.0
64,1,1,female,30.00,0,0,86.5000,S,B,64.0
65,1,1,female,16.00,0,0,86.5000,S,B,64.0
66,0,1,male,45.00,1,0,83.4750,S,C,67.0
67,1,1,female,35.00,1,0,83.4750,S,C,67.0
68,1,1,female,24.00,0,0,83.1583,C,C,69.0
69,1,1,female,39.00,1,1,83.1583,C,E,69.0
70,1,1,female,56.00,0,1,83.1583,C,C,69.0
71,1,1,female,NaN,1,0,82.1708,C,NaN,72.0
72,0,1,male,28.00,1,0,82.1708,C,NaN,72.0
73,1,1,male,4.00,0,2,81.8583,S,A,74.0
74,1,1,female,38.00,0,0,80.0000,NaN,B,75.0
75,1,1,female,62.00,0,0,80.0000,NaN,B,75.0
76,1,1,female,18.00,0,2,79.6500,S,E,77.0
77,0,1,male,52.00,1,1,79.6500,S,E,77.0
78,1,1,female,39.00,1,1,79.6500,S,E,77.0
79,1,1,male,60.00,1,1,79.2000,C,B,80.0
80,0,1,male,46.00,0,0,79.2000,C,B,80.0
81,1,1,female,NaN,0,0,79.2000,C,NaN,80.0
82,0,1,male,24.00,0,0,79.2000,C,B,80.0
83,1,1,female,26.00,0,0,78.8500,S,NaN,84.0
84,0,1,male,36.00,1,0,78.8500,S,C,84.0
85,1,1,female,54.00,1,0,78.2667,C,D,86.0
86,1,1,female,52.00,1,0,78.2667,C,D,86.0
87,1,1,female,63.00,1,0,77.9583,S,D,88.0
88,1,1,female,21.00,0,0,77.9583,S,D,88.0
89,1,1,female,51.00,1,0,77.9583,S,D,88.0
90,0,1,male,54.00,0,1,77.2875,S,D,91.0
91,0,1,male,21.00,0,1,77.2875,S,D,91.0
92,1,1,male,27.00,0,0,76.7292,C,D,93.0
93,1,1,male,48.00,1,0,76.7292,C,D,93.0
94,1,1,female,49.00,1,0,76.7292,C,D,93.0
95,1,1,female,32.00,0,0,76.2917,C,D,96.0
96,1,1,female,60.00,1,0,75.2500,C,D,97.0
97,0,2,male,21.00,2,0,73.5000,S,NaN,98.0
98,0,2,male,18.00,0,0,73.5000,S,NaN,98.0
99,0,2,male,24.00,2,0,73.5000,S,NaN,98.0
100,0,2,male,21.00,0,0,73.5000,S,NaN,98.0
101,0,2,male,32.00,2,0,73.5000,S,NaN,98.0
102,1,1,female,38.00,1,0,71.2833,C,C,103.0
103,1,1,female,36.00,0,2,71.0000,S,B,104.0
104,0,1,male,70.00,1,1,71.0000,S,B,104.0
105,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
106,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
107,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
108,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
109,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
110,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
111,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
112,1,1,female,24.00,0,0,69.3000,C,B,113.0
113,1,1,female,24.00,0,0,69.3000,C,B,113.0
114,0,1,male,29.00,1,0,66.6000,S,C,115.0
115,1,1,female,22.00,1,0,66.6000,S,C,115.0
116,1,2,female,24.00,1,2,65.0000,S,NaN,117.0
117,1,2,female,48.00,1,2,65.0000,S,NaN,117.0
118,1,1,male,23.00,0,1,63.3583,C,D,119.0
119,0,1,male,65.00,0,1,61.9792,C,B,120.0
120,0,1,male,51.00,0,1,61.3792,C,NaN,121.0
121,0,1,male,46.00,1,0,61.1750,S,E,122.0
122,1,1,female,54.00,1,0,59.4000,C,NaN,123.0
123,1,1,female,44.00,0,1,57.9792,C,B,124.0
124,1,1,female,16.00,0,1,57.9792,C,B,124.0
125,1,1,female,17.00,1,0,57.0000,S,B,126.0
126,1,1,male,31.00,1,0,57.0000,S,B,126.0
127,1,1,male,49.00,1,0,56.9292,C,A,128.0
128,1,1,female,30.00,0,0,56.9292,C,E,128.0
129,1,3,male,32.00,0,0,56.4958,S,NaN,130.0
130,0,3,male,NaN,0,0,56.4958,S,NaN,130.0
131,1,3,male,NaN,0,0,56.4958,S,NaN,130.0
132,0,3,male,28.00,0,0,56.4958,S,NaN,130.0
133,1,3,male,32.00,0,0,56.4958,S,NaN,130.0
134,1,3,male,NaN,0,0,56.4958,S,NaN,130.0
135,1,3,male,26.00,0,0,56.4958,S,NaN,130.0
136,0,1,male,50.00,1,0,55.9000,S,E,137.0
137,1,1,female,39.00,1,0,55.9000,S,E,137.0
138,1,1,male,25.00,1,0,55.4417,C,E,139.0
139,1,1,female,NaN,0,1,55.0000,S,E,140.0
140,1,1,female,22.00,0,1,55.0000,S,E,140.0
141,0,1,male,19.00,1,0,53.1000,S,D,142.0
142,1,1,female,35.00,1,0,53.1000,S,C,142.0
143,1,1,female,33.00,1,0,53.1000,S,E,142.0
144,1,1,male,27.00,1,0,53.1000,S,E,142.0
145,0,1,male,37.00,1,0,53.1000,S,C,142.0
146,1,1,male,37.00,1,1,52.5542,S,D,147.0
147,1,1,female,47.00,1,1,52.5542,S,D,147.0
148,1,1,male,42.00,1,0,52.5542,S,D,147.0
149,0,1,male,NaN,0,0,52.0000,S,A,150.0
150,0,1,male,31.00,1,0,52.0000,S,B,150.0
151,1,1,female,35.00,1,0,52.0000,S,NaN,150.0
152,0,1,male,47.00,0,0,52.0000,S,C,150.0
153,1,1,female,NaN,1,0,52.0000,S,C,150.0
154,1,1,male,48.00,1,0,52.0000,S,C,150.0
155,0,1,male,42.00,1,0,52.0000,S,NaN,150.0
156,0,1,male,54.00,0,0,51.8625,S,E,157.0
157,1,1,female,NaN,1,0,51.8625,S,D,157.0
158,1,1,female,53.00,2,0,51.4792,S,C,159.0
159,0,1,male,31.00,0,0,50.4958,S,A,160.0
160,0,1,male,NaN,0,0,50.0000,S,A,161.0
161,1,1,female,24.00,0,0,49.5042,C,C,162.0
162,0,1,male,71.00,0,0,49.5042,C,NaN,162.0
163,1,1,female,22.00,0,2,49.5000,C,B,164.0
164,0,1,male,28.00,0,0,47.1000,S,NaN,165.0
165,0,3,male,9.00,5,2,46.9000,S,NaN,166.0
166,0,3,male,11.00,5,2,46.9000,S,NaN,166.0
167,0,3,female,16.00,5,2,46.9000,S,NaN,166.0
168,0,3,male,14.00,5,2,46.9000,S,NaN,166.0
169,0,3,female,43.00,1,6,46.9000,S,NaN,166.0
170,0,3,male,1.00,5,2,46.9000,S,NaN,166.0
171,0,1,male,NaN,0,0,42.4000,S,NaN,172.0
172,0,2,male,25.00,1,2,41.5792,C,NaN,173.0
173,1,2,female,3.00,1,2,41.5792,C,NaN,173.0
174,1,2,female,22.00,1,2,41.5792,C,NaN,173.0
175,0,1,male,36.00,0,0,40.1250,C,A,176.0
176,0,3,female,41.00,0,5,39.6875,S,NaN,177.0
177,0,3,male,14.00,4,1,39.6875,S,NaN,177.0
178,0,3,male,2.00,4,1,39.6875,S,NaN,177.0
179,0,3,male,16.00,4,1,39.6875,S,NaN,177.0
180,0,3,male,7.00,4,1,39.6875,S,NaN,177.0
181,0,3,male,1.00,4,1,39.6875,S,NaN,177.0
182,1,1,female,48.00,1,0,39.6000,C,A,183.0
183,0,1,male,NaN,0,0,39.6000,C,NaN,183.0
184,1,1,female,16.00,0,1,39.4000,S,D,185.0
185,0,2,male,60.00,1,1,39.0000,S,NaN,186.0
186,1,2,male,1.00,2,1,39.0000,S,F,186.0
187,1,2,female,4.00,2,1,39.0000,S,F,186.0
188,1,2,female,40.00,1,1,39.0000,S,NaN,186.0
189,0,1,male,47.00,0,0,38.5000,S,E,190.0
190,0,2,male,31.00,1,1,37.0042,C,NaN,191.0
191,1,2,male,1.00,0,2,37.0042,C,NaN,191.0
192,0,2,male,19.00,1,1,36.7500,S,NaN,193.0
193,1,2,male,8.00,1,1,36.7500,S,NaN,193.0
194,1,1,male,NaN,0,0,35.5000,S,C,195.0
195,0,1,male,45.00,0,0,35.5000,S,NaN,195.0
196,1,1,male,56.00,0,0,35.5000,C,A,195.0
197,1,1,male,28.00,0,0,35.5000,S,A,195.0
198,0,1,male,NaN,0,0,35.0000,S,C,199.0
199,0,1,male,71.00,0,0,34.6542,C,A,200.0
200,0,3,female,21.00,2,2,34.3750,S,NaN,201.0
201,0,3,female,48.00,1,3,34.3750,S,NaN,201.0
202,0,3,male,16.00,1,3,34.3750,S,NaN,201.0
203,0,3,female,9.00,2,2,34.3750,S,NaN,201.0
204,0,1,male,47.00,0,0,34.0208,S,D,205.0
205,0,1,male,61.00,0,0,33.5000,S,B,206.0
206,1,2,female,NaN,0,0,33.0000,S,NaN,207.0
207,0,2,male,28.00,0,1,33.0000,S,NaN,207.0
208,1,2,female,6.00,0,1,33.0000,S,NaN,207.0
209,1,2,female,34.00,1,1,32.5000,S,NaN,210.0
210,0,1,male,61.00,0,0,32.3208,S,D,211.0
211,1,3,female,5.00,4,2,31.3875,S,NaN,212.0
212,0,3,male,9.00,4,2,31.3875,S,NaN,212.0
213,1,3,male,3.00,4,2,31.3875,S,NaN,212.0
214,1,3,female,38.00,1,5,31.3875,S,NaN,212.0
215,0,3,male,4.00,4,2,31.2750,S,NaN,216.0
216,0,3,male,39.00,1,5,31.2750,S,NaN,216.0
217,0,3,female,11.00,4,2,31.2750,S,NaN,216.0
218,0,3,female,39.00,1,5,31.2750,S,NaN,216.0
219,0,3,female,6.00,4,2,31.2750,S,NaN,216.0
220,0,3,female,2.00,4,2,31.2750,S,NaN,216.0
221,0,3,female,9.00,4,2,31.2750,S,NaN,216.0
222,1,1,male,40.00,0,0,31.0000,C,A,223.0
223,0,1,male,NaN,0,0,31.0000,S,NaN,223.0
224,1,1,female,30.00,0,0,31.0000,C,NaN,223.0
225,0,1,male,NaN,0,0,30.6958,C,NaN,226.0
226,0,1,male,56.00,0,0,30.6958,C,A,226.0
227,0,1,male,55.00,0,0,30.5000,S,C,228.0
228,1,1,male,32.00,0,0,30.5000,C,B,228.0
229,1,1,male,NaN,0,0,30.5000,S,C,228.0
230,1,1,male,27.00,0,0,30.5000,S,NaN,228.0
231,1,1,male,52.00,0,0,30.5000,S,C,228.0
232,0,2,male,32.50,1,0,30.0708,C,NaN,233.0
233,1,2,female,14.00,1,0,30.0708,C,NaN,233.0
234,1,1,male,NaN,0,0,30.0000,S,D,235.0
235,1,1,female,19.00,0,0,30.0000,S,B,235.0
236,1,1,male,26.00,0,0,30.0000,C,C,235.0
237,1,2,female,25.00,1,1,30.0000,S,NaN,235.0
238,1,1,male,80.00,0,0,30.0000,S,A,235.0
239,0,1,male,29.00,0,0,30.0000,S,D,235.0
240,1,1,male,NaN,0,0,29.7000,C,C,241.0
241,0,1,male,37.00,0,1,29.7000,C,C,241.0
242,0,1,male,58.00,0,0,29.7000,C,B,241.0
243,0,3,male,2.00,4,1,29.1250,Q,NaN,244.0
244,0,3,male,7.00,4,1,29.1250,Q,NaN,244.0
245,0,3,male,4.00,4,1,29.1250,Q,NaN,244.0
246,0,3,female,39.00,0,5,29.1250,Q,NaN,244.0
247,0,3,male,8.00,4,1,29.1250,Q,NaN,244.0
248,1,2,male,0.83,0,2,29.0000,S,NaN,249.0
249,1,2,female,22.00,1,1,29.0000,S,NaN,249.0
250,0,1,female,50.00,0,0,28.7125,C,C,251.0
251,0,1,male,45.50,0,0,28.5000,S,C,252.0
252,0,3,male,10.00,3,2,27.9000,S,NaN,253.0
253,0,3,female,2.00,3,2,27.9000,S,NaN,253.0
254,0,3,female,9.00,3,2,27.9000,S,NaN,253.0
255,0,3,male,4.00,3,2,27.9000,S,NaN,253.0
256,0,3,female,45.00,1,4,27.9000,S,NaN,253.0
257,0,3,male,40.00,1,4,27.9000,S,NaN,253.0
258,1,2,female,5.00,1,2,27.7500,S,NaN,259.0
259,1,2,female,33.00,1,2,27.7500,S,NaN,259.0
260,0,2,male,36.00,1,2,27.7500,S,NaN,259.0
261,0,1,male,30.00,0,0,27.7500,C,C,259.0
262,0,1,male,NaN,0,0,27.7208,C,NaN,263.0
263,0,2,male,29.00,1,0,27.7208,C,NaN,263.0
264,1,1,female,44.00,0,0,27.7208,C,B,263.0
265,0,1,male,40.00,0,0,27.7208,C,NaN,263.0
266,0,1,male,NaN,0,0,27.7208,C,NaN,263.0
267,0,2,male,42.00,1,0,27.0000,S,NaN,268.0
268,1,2,female,24.00,2,1,27.0000,S,NaN,268.0
269,0,1,male,60.00,0,0,26.5500,S,NaN,270.0
270,1,1,male,51.00,0,0,26.5500,S,E,270.0
271,1,1,male,35.00,0,0,26.5500,C,NaN,270.0
272,1,1,female,58.00,0,0,26.5500,S,C,270.0
273,0,1,male,62.00,0,0,26.5500,S,NaN,270.0
274,0,1,male,45.00,0,0,26.5500,S,B,270.0
275,1,1,male,34.00,0,0,26.5500,S,NaN,270.0
276,0,1,male,62.00,0,0,26.5500,S,C,270.0
277,1,1,male,45.00,0,0,26.5500,S,NaN,270.0
278,0,1,male,65.00,0,0,26.5500,S,E,270.0
279,1,1,male,28.00,0,0,26.5500,S,C,270.0
280,0,1,male,NaN,0,0,26.5500,S,C,270.0
281,0,1,male,56.00,0,0,26.5500,S,NaN,270.0
282,1,1,male,48.00,0,0,26.5500,S,E,270.0
283,1,1,male,NaN,0,0,26.5500,S,NaN,270.0
284,1,1,male,36.00,0,0,26.3875,S,E,285.0
285,1,1,male,36.00,0,0,26.2875,S,E,286.0
286,1,1,male,35.00,0,0,26.2875,S,E,286.0
287,1,1,male,42.00,0,0,26.2875,S,E,286.0
288,1,1,female,19.00,0,2,26.2833,S,D,289.0
289,0,2,male,31.00,1,1,26.2500,S,NaN,290.0
290,1,2,female,31.00,1,1,26.2500,S,NaN,290.0
291,0,2,male,43.00,1,1,26.2500,S,NaN,290.0
292,1,2,female,45.00,1,1,26.2500,S,NaN,290.0
293,1,2,female,8.00,0,2,26.2500,S,NaN,290.0
294,1,2,female,7.00,0,2,26.2500,S,NaN,290.0
295,1,2,male,32.00,1,0,26.0000,S,NaN,296.0
296,1,2,male,3.00,1,1,26.0000,S,F,296.0
297,1,2,female,24.00,1,0,26.0000,S,NaN,296.0
298,0,1,male,64.00,0,0,26.0000,S,NaN,296.0
299,0,2,female,44.00,1,0,26.0000,S,NaN,296.0
300,1,2,male,2.00,1,1,26.0000,S,F,296.0
301,1,2,female,2.00,1,1,26.0000,S,NaN,296.0
302,1,2,female,36.00,1,0,26.0000,S,NaN,296.0
303,0,2,male,39.00,0,0,26.0000,S,NaN,296.0
304,1,2,female,33.00,0,2,26.0000,S,NaN,296.0
305,0,2,male,46.00,0,0,26.0000,S,NaN,296.0
306,1,2,female,42.00,1,0,26.0000,S,NaN,296.0
307,0,2,male,25.00,1,0,26.0000,S,NaN,296.0
308,1,2,female,25.00,0,1,26.0000,S,NaN,296.0
309,0,2,male,34.00,1,0,26.0000,S,NaN,296.0
310,0,2,male,35.00,0,0,26.0000,S,NaN,296.0
311,1,2,female,19.00,1,0,26.0000,S,NaN,296.0
312,0,2,male,36.50,0,2,26.0000,S,F,296.0
313,1,2,female,29.00,1,0,26.0000,S,NaN,296.0
314,0,2,male,16.00,0,0,26.0000,S,NaN,296.0
315,0,2,female,26.00,1,1,26.0000,S,NaN,296.0
316,0,2,male,54.00,0,0,26.0000,S,NaN,296.0
317,0,2,male,44.00,1,0,26.0000,S,NaN,296.0
318,0,2,male,27.00,0,0,26.0000,S,NaN,296.0
319,1,2,female,28.00,1,0,26.0000,S,NaN,296.0
320,1,2,female,19.00,0,0,26.0000,S,NaN,296.0
321,0,2,male,37.00,1,0,26.0000,S,NaN,296.0
322,0,1,male,NaN,0,0,26.0000,S,A,296.0
323,1,2,female,50.00,0,1,26.0000,S,NaN,296.0
324,0,2,male,54.00,1,0,26.0000,S,NaN,296.0
325,1,2,female,29.00,1,0,26.0000,S,NaN,296.0
326,1,1,female,48.00,0,0,25.9292,S,D,327.0
327,1,1,female,49.00,0,0,25.9292,S,D,327.0
328,0,1,male,NaN,0,0,25.9250,S,NaN,329.0
329,0,1,male,47.00,0,0,25.5875,S,E,330.0
330,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
331,0,3,male,NaN,3,1,25.4667,S,NaN,331.0
332,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
333,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
334,0,3,male,36.00,1,1,24.1500,S,NaN,335.0
335,0,3,male,39.00,0,0,24.1500,S,NaN,335.0
336,0,3,male,NaN,0,0,24.1500,Q,NaN,335.0
337,0,3,female,10.00,0,2,24.1500,S,NaN,335.0
338,1,3,female,NaN,1,0,24.1500,Q,NaN,335.0
339,0,3,female,30.00,1,1,24.1500,S,NaN,335.0
340,0,3,male,24.00,2,0,24.1500,S,NaN,335.0
341,0,3,male,NaN,1,0,24.1500,Q,NaN,335.0
342,0,2,male,30.00,1,0,24.0000,C,NaN,343.0
343,1,2,female,28.00,1,0,24.0000,C,NaN,343.0
344,0,3,female,NaN,1,2,23.4500,S,NaN,345.0
345,0,3,male,NaN,1,2,23.4500,S,NaN,345.0
346,1,3,male,NaN,2,0,23.2500,Q,NaN,347.0
347,1,3,female,NaN,2,0,23.2500,Q,NaN,347.0
348,1,2,female,54.00,1,3,23.0000,S,NaN,349.0
349,1,2,female,34.00,0,1,23.0000,S,NaN,349.0
350,1,2,female,18.00,0,1,23.0000,S,NaN,349.0
351,1,2,female,4.00,1,1,23.0000,S,NaN,349.0
352,0,3,male,28.00,0,0,22.5250,S,NaN,353.0
353,1,3,female,NaN,0,2,22.3583,C,NaN,354.0
354,1,3,female,NaN,1,1,22.3583,C,F,354.0
355,1,3,female,4.00,0,2,22.0250,S,NaN,356.0
356,0,3,male,NaN,2,0,21.6792,C,NaN,357.0
357,0,3,female,29.00,0,4,21.0750,S,NaN,358.0
358,0,3,male,2.00,3,1,21.0750,S,NaN,358.0
359,0,3,female,3.00,3,1,21.0750,S,NaN,358.0
360,0,3,female,8.00,3,1,21.0750,S,NaN,358.0
361,0,2,female,27.00,1,0,21.0000,S,NaN,362.0
362,0,2,male,29.00,1,0,21.0000,S,NaN,362.0
363,0,2,male,34.00,1,0,21.0000,S,NaN,362.0
364,0,2,male,34.00,1,0,21.0000,S,NaN,362.0
365,1,2,female,35.00,0,0,21.0000,S,NaN,362.0
366,1,2,female,30.00,3,0,21.0000,S,NaN,362.0
367,1,3,male,1.00,1,2,20.5750,S,NaN,368.0
368,0,3,male,26.00,1,2,20.5750,S,NaN,368.0
369,1,3,female,31.00,1,1,20.5250,S,NaN,370.0
370,0,3,male,33.00,1,1,20.5250,S,NaN,370.0
371,1,3,male,9.00,0,2,20.5250,S,NaN,370.0
372,1,3,female,35.00,1,1,20.2500,S,NaN,373.0
373,0,3,male,16.00,1,1,20.2500,S,NaN,373.0
374,0,3,male,18.00,1,1,20.2125,S,NaN,375.0
375,0,3,female,41.00,0,2,20.2125,S,NaN,375.0
376,0,3,male,NaN,1,0,19.9667,S,NaN,377.0
377,0,3,male,NaN,1,0,19.9667,S,NaN,377.0
378,1,2,female,13.00,0,1,19.5000,S,NaN,379.0
379,1,2,female,41.00,0,1,19.5000,S,NaN,379.0
380,1,3,female,0.75,2,1,19.2583,C,NaN,381.0
381,1,3,female,5.00,2,1,19.2583,C,NaN,381.0
382,1,3,female,0.75,2,1,19.2583,C,NaN,381.0
383,1,3,female,24.00,0,3,19.2583,C,NaN,381.0
384,1,3,male,26.00,0,0,18.7875,C,NaN,385.0
385,0,3,male,11.00,0,0,18.7875,C,NaN,385.0
386,1,2,male,3.00,1,1,18.7500,S,NaN,387.0
387,1,2,female,24.00,2,3,18.7500,S,NaN,387.0
388,1,2,male,0.83,1,1,18.7500,S,NaN,387.0
389,0,3,female,31.00,1,0,18.0000,S,NaN,390.0
390,0,3,female,18.00,2,0,18.0000,S,NaN,390.0
391,0,3,male,16.00,2,0,18.0000,S,NaN,390.0
392,0,3,female,18.00,1,0,17.8000,S,NaN,393.0
393,0,3,male,25.00,1,0,17.8000,S,NaN,393.0
394,1,3,female,36.00,1,0,17.4000,S,NaN,395.0
395,1,3,female,24.00,0,2,16.7000,S,G,396.0
396,1,3,female,4.00,1,1,16.7000,S,G,396.0
397,0,3,male,28.50,0,0,16.1000,S,NaN,398.0
398,0,3,male,21.00,0,0,16.1000,S,NaN,398.0
399,1,3,female,NaN,1,0,16.1000,S,NaN,398.0
400,0,3,female,26.00,1,0,16.1000,S,NaN,398.0
401,0,3,male,NaN,1,0,16.1000,S,NaN,398.0
402,0,3,male,30.00,1,0,16.1000,S,NaN,398.0
403,1,3,female,NaN,1,0,16.1000,S,NaN,398.0
404,0,3,male,44.00,0,1,16.1000,S,NaN,398.0
405,0,3,male,24.00,1,0,16.1000,S,NaN,398.0
406,1,2,female,55.00,0,0,16.0000,S,NaN,407.0
407,1,3,male,3.00,1,1,15.9000,S,NaN,408.0
408,1,3,male,9.00,1,1,15.9000,S,NaN,408.0
409,1,3,female,24.00,1,0,15.8500,S,NaN,410.0
410,1,3,female,33.00,3,0,15.8500,S,NaN,410.0
411,0,3,male,28.00,1,0,15.8500,S,NaN,410.0
412,0,3,male,32.00,1,0,15.8500,S,NaN,410.0
413,1,2,female,40.00,0,0,15.7500,S,NaN,414.0
414,1,3,female,1.00,0,2,15.7417,C,NaN,415.0
415,1,3,male,20.00,1,1,15.7417,C,NaN,415.0
416,0,3,male,36.00,1,0,15.5500,S,NaN,417.0
417,0,3,male,NaN,0,0,15.5000,Q,NaN,418.0
418,0,3,male,NaN,1,0,15.5000,Q,NaN,418.0
419,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
420,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
421,0,3,female,32.00,1,1,15.5000,Q,NaN,418.0
422,0,3,male,NaN,1,0,15.5000,Q,NaN,418.0
423,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
424,0,3,male,40.00,1,1,15.5000,Q,NaN,418.0
425,0,3,female,9.00,1,1,15.2458,C,NaN,426.0
426,0,3,female,NaN,0,2,15.2458,C,NaN,426.0
427,1,3,male,NaN,1,1,15.2458,C,NaN,426.0
428,1,3,male,NaN,1,1,15.2458,C,NaN,426.0
429,1,3,female,29.00,0,2,15.2458,C,NaN,426.0
430,0,3,male,NaN,0,0,15.1000,S,NaN,431.0
431,0,2,male,NaN,0,0,15.0500,C,NaN,432.0
432,0,2,male,23.00,0,0,15.0458,C,NaN,433.0
433,0,2,male,47.00,0,0,15.0000,S,NaN,434.0
434,0,3,male,19.00,0,0,14.5000,S,NaN,435.0
435,0,3,male,NaN,0,0,14.5000,S,NaN,435.0
436,0,3,male,NaN,0,0,14.5000,S,NaN,435.0
437,1,2,male,0.67,1,1,14.5000,S,NaN,435.0
438,1,2,female,24.00,0,2,14.5000,S,NaN,435.0
439,0,3,male,40.50,0,2,14.5000,S,NaN,435.0
440,0,3,female,47.00,1,0,14.5000,S,NaN,435.0
441,0,3,female,17.00,0,0,14.4583,C,NaN,442.0
442,0,3,female,NaN,1,0,14.4583,C,NaN,442.0
443,0,3,male,NaN,0,0,14.4583,C,NaN,442.0
444,0,3,male,26.00,1,0,14.4542,C,NaN,445.0
445,0,3,female,45.00,0,1,14.4542,C,NaN,445.0
446,1,3,female,15.00,1,0,14.4542,C,NaN,445.0
447,0,3,female,NaN,1,0,14.4542,C,NaN,445.0
448,0,3,female,14.50,1,0,14.4542,C,NaN,445.0
449,0,3,male,27.00,1,0,14.4542,C,NaN,445.0
450,0,3,female,18.00,0,1,14.4542,C,NaN,445.0
451,0,3,male,34.00,1,1,14.4000,S,NaN,452.0
452,0,3,female,28.00,1,1,14.4000,S,NaN,452.0
453,0,3,male,41.00,2,0,14.1083,S,NaN,454.0
454,0,2,male,54.00,0,0,14.0000,S,NaN,455.0
455,1,2,male,NaN,0,0,13.8625,C,NaN,456.0
456,1,2,female,27.00,1,0,13.8583,C,NaN,457.0
457,1,2,female,23.00,0,0,13.7917,C,D,458.0
458,1,2,female,45.00,0,0,13.5000,S,NaN,459.0
459,0,2,male,52.00,0,0,13.5000,S,NaN,459.0
460,0,2,male,28.00,0,0,13.5000,S,NaN,459.0
461,0,2,male,59.00,0,0,13.5000,S,NaN,459.0
462,1,3,female,4.00,0,1,13.4167,C,NaN,463.0
463,1,2,male,31.00,0,0,13.0000,S,NaN,464.0
464,0,2,male,30.00,0,0,13.0000,S,NaN,464.0
465,0,2,male,42.00,0,0,13.0000,S,NaN,464.0
466,1,2,female,36.00,0,0,13.0000,S,NaN,464.0
467,0,2,male,27.00,0,0,13.0000,S,NaN,464.0
468,0,2,male,25.00,0,0,13.0000,S,NaN,464.0
469,0,2,male,28.00,0,0,13.0000,S,NaN,464.0

In [53]:
titanic.sort_values(by="fare_rank", inplace=True, ignore_index=True)

In [55]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,fare_rank
0,1,1,male,35.00,0,0,512.3292,C,B,1.0
1,1,1,female,35.00,0,0,512.3292,C,NaN,1.0
2,1,1,male,36.00,0,1,512.3292,C,B,1.0
3,1,1,female,23.00,3,2,263.0000,S,C,4.0
4,1,1,female,24.00,3,2,263.0000,S,C,4.0
5,0,1,male,64.00,1,4,263.0000,S,C,4.0
6,0,1,male,19.00,3,2,263.0000,S,C,4.0
7,1,1,female,21.00,2,2,262.3750,C,B,8.0
8,1,1,female,18.00,2,2,262.3750,C,B,8.0
9,0,1,male,24.00,0,1,247.5208,C,B,10.0
10,1,1,female,50.00,0,1,247.5208,C,B,10.0
11,0,1,male,NaN,0,0,227.5250,C,NaN,12.0
12,1,1,female,42.00,0,0,227.5250,C,NaN,12.0
13,1,1,female,38.00,0,0,227.5250,C,C,12.0
14,1,1,female,18.00,1,0,227.5250,C,C,12.0
15,0,1,male,NaN,0,0,221.7792,S,C,16.0
16,0,1,male,27.00,0,2,211.5000,C,C,17.0
17,1,1,female,15.00,0,1,211.3375,S,B,18.0
18,1,1,female,29.00,0,0,211.3375,S,B,18.0
19,1,1,female,43.00,0,1,211.3375,S,B,18.0
20,1,1,female,45.00,1,1,164.8667,S,NaN,21.0
21,1,1,female,31.00,0,2,164.8667,S,C,21.0
22,0,1,male,38.00,0,1,153.4625,S,C,23.0
23,1,1,female,40.00,0,0,153.4625,S,C,23.0
24,1,1,female,58.00,0,1,153.4625,S,C,23.0
25,1,1,female,22.00,0,0,151.5500,S,NaN,26.0
26,1,1,male,0.92,1,2,151.5500,S,C,26.0
27,0,1,female,25.00,1,2,151.5500,S,C,26.0
28,0,1,female,2.00,1,2,151.5500,S,C,26.0
29,1,1,female,NaN,1,0,146.5208,C,B,30.0
30,1,1,female,58.00,0,0,146.5208,C,B,30.0
31,0,1,male,22.00,0,0,135.6333,C,NaN,32.0
32,1,1,female,36.00,0,0,135.6333,C,C,32.0
33,1,1,female,35.00,0,0,135.6333,S,C,32.0
34,1,1,female,40.00,1,1,134.5000,C,E,35.0
35,1,1,female,41.00,0,0,134.5000,C,E,35.0
36,1,1,female,NaN,1,0,133.6500,S,NaN,37.0
37,1,1,male,50.00,2,0,133.6500,S,NaN,37.0
38,1,1,female,36.00,1,2,120.0000,S,B,39.0
39,1,1,female,14.00,1,2,120.0000,S,B,39.0
40,1,1,male,36.00,1,2,120.0000,S,B,39.0
41,1,1,male,11.00,1,2,120.0000,S,B,39.0
42,0,1,male,58.00,0,2,113.2750,C,D,43.0
43,1,1,female,23.00,1,0,113.2750,C,D,43.0
44,1,1,female,31.00,1,0,113.2750,C,D,43.0
45,1,1,male,17.00,0,2,110.8833,C,C,46.0
46,0,1,male,49.00,1,1,110.8833,C,C,46.0
47,1,1,female,39.00,1,1,110.8833,C,C,46.0
48,1,1,female,NaN,0,0,110.8833,C,NaN,46.0
49,1,1,female,17.00,1,0,108.9000,C,C,50.0
50,0,1,male,18.00,1,0,108.9000,C,C,50.0
51,1,1,female,30.00,0,0,106.4250,C,NaN,52.0
52,0,1,male,50.00,1,0,106.4250,C,C,52.0
53,1,1,female,30.00,0,0,93.5000,S,B,54.0
54,1,1,female,52.00,1,1,93.5000,S,B,54.0
55,1,1,male,25.00,1,0,91.0792,C,B,56.0
56,1,1,female,19.00,1,0,91.0792,C,B,56.0
57,0,1,male,44.00,2,0,90.0000,Q,C,58.0
58,1,1,male,38.00,1,0,90.0000,S,C,58.0
59,1,1,female,33.00,1,0,90.0000,Q,C,58.0
60,1,1,female,35.00,1,0,90.0000,S,C,58.0
61,1,1,female,NaN,1,0,89.1042,C,C,62.0
62,1,1,male,49.00,1,0,89.1042,C,C,62.0
63,1,1,female,33.00,0,0,86.5000,S,B,64.0
64,1,1,female,30.00,0,0,86.5000,S,B,64.0
65,1,1,female,16.00,0,0,86.5000,S,B,64.0
66,1,1,female,35.00,1,0,83.4750,S,C,67.0
67,0,1,male,45.00,1,0,83.4750,S,C,67.0
68,1,1,female,24.00,0,0,83.1583,C,C,69.0
69,1,1,female,39.00,1,1,83.1583,C,E,69.0
70,1,1,female,56.00,0,1,83.1583,C,C,69.0
71,1,1,female,NaN,1,0,82.1708,C,NaN,72.0
72,0,1,male,28.00,1,0,82.1708,C,NaN,72.0
73,1,1,male,4.00,0,2,81.8583,S,A,74.0
74,1,1,female,38.00,0,0,80.0000,NaN,B,75.0
75,1,1,female,62.00,0,0,80.0000,NaN,B,75.0
76,1,1,female,39.00,1,1,79.6500,S,E,77.0
77,1,1,female,18.00,0,2,79.6500,S,E,77.0
78,0,1,male,52.00,1,1,79.6500,S,E,77.0
79,0,1,male,24.00,0,0,79.2000,C,B,80.0
80,1,1,female,NaN,0,0,79.2000,C,NaN,80.0
81,1,1,male,60.00,1,1,79.2000,C,B,80.0
82,0,1,male,46.00,0,0,79.2000,C,B,80.0
83,1,1,female,26.00,0,0,78.8500,S,NaN,84.0
84,0,1,male,36.00,1,0,78.8500,S,C,84.0
85,1,1,female,54.00,1,0,78.2667,C,D,86.0
86,1,1,female,52.00,1,0,78.2667,C,D,86.0
87,1,1,female,63.00,1,0,77.9583,S,D,88.0
88,1,1,female,21.00,0,0,77.9583,S,D,88.0
89,1,1,female,51.00,1,0,77.9583,S,D,88.0
90,0,1,male,54.00,0,1,77.2875,S,D,91.0
91,0,1,male,21.00,0,1,77.2875,S,D,91.0
92,1,1,female,49.00,1,0,76.7292,C,D,93.0
93,1,1,male,27.00,0,0,76.7292,C,D,93.0
94,1,1,male,48.00,1,0,76.7292,C,D,93.0
95,1,1,female,32.00,0,0,76.2917,C,D,96.0
96,1,1,female,60.00,1,0,75.2500,C,D,97.0
97,0,2,male,21.00,2,0,73.5000,S,NaN,98.0
98,0,2,male,18.00,0,0,73.5000,S,NaN,98.0
99,0,2,male,24.00,2,0,73.5000,S,NaN,98.0
100,0,2,male,21.00,0,0,73.5000,S,NaN,98.0
101,0,2,male,32.00,2,0,73.5000,S,NaN,98.0
102,1,1,female,38.00,1,0,71.2833,C,C,103.0
103,1,1,female,36.00,0,2,71.0000,S,B,104.0
104,0,1,male,70.00,1,1,71.0000,S,B,104.0
105,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
106,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
107,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
108,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
109,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
110,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
111,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
112,1,1,female,24.00,0,0,69.3000,C,B,113.0
113,1,1,female,24.00,0,0,69.3000,C,B,113.0
114,0,1,male,29.00,1,0,66.6000,S,C,115.0
115,1,1,female,22.00,1,0,66.6000,S,C,115.0
116,1,2,female,24.00,1,2,65.0000,S,NaN,117.0
117,1,2,female,48.00,1,2,65.0000,S,NaN,117.0
118,1,1,male,23.00,0,1,63.3583,C,D,119.0
119,0,1,male,65.00,0,1,61.9792,C,B,120.0
120,0,1,male,51.00,0,1,61.3792,C,NaN,121.0
121,0,1,male,46.00,1,0,61.1750,S,E,122.0
122,1,1,female,54.00,1,0,59.4000,C,NaN,123.0
123,1,1,female,16.00,0,1,57.9792,C,B,124.0
124,1,1,female,44.00,0,1,57.9792,C,B,124.0
125,1,1,female,17.00,1,0,57.0000,S,B,126.0
126,1,1,male,31.00,1,0,57.0000,S,B,126.0
127,1,1,male,49.00,1,0,56.9292,C,A,128.0
128,1,1,female,30.00,0,0,56.9292,C,E,128.0
129,1,3,male,32.00,0,0,56.4958,S,NaN,130.0
130,0,3,male,NaN,0,0,56.4958,S,NaN,130.0
131,1,3,male,NaN,0,0,56.4958,S,NaN,130.0
132,0,3,male,28.00,0,0,56.4958,S,NaN,130.0
133,1,3,male,32.00,0,0,56.4958,S,NaN,130.0
134,1,3,male,NaN,0,0,56.4958,S,NaN,130.0
135,1,3,male,26.00,0,0,56.4958,S,NaN,130.0
136,0,1,male,50.00,1,0,55.9000,S,E,137.0
137,1,1,female,39.00,1,0,55.9000,S,E,137.0
138,1,1,male,25.00,1,0,55.4417,C,E,139.0
139,1,1,female,NaN,0,1,55.0000,S,E,140.0
140,1,1,female,22.00,0,1,55.0000,S,E,140.0
141,0,1,male,19.00,1,0,53.1000,S,D,142.0
142,1,1,female,35.00,1,0,53.1000,S,C,142.0
143,1,1,female,33.00,1,0,53.1000,S,E,142.0
144,1,1,male,27.00,1,0,53.1000,S,E,142.0
145,0,1,male,37.00,1,0,53.1000,S,C,142.0
146,1,1,male,37.00,1,1,52.5542,S,D,147.0
147,1,1,female,47.00,1,1,52.5542,S,D,147.0
148,1,1,male,42.00,1,0,52.5542,S,D,147.0
149,0,1,male,42.00,1,0,52.0000,S,NaN,150.0
150,1,1,male,48.00,1,0,52.0000,S,C,150.0
151,0,1,male,47.00,0,0,52.0000,S,C,150.0
152,1,1,female,NaN,1,0,52.0000,S,C,150.0
153,0,1,male,31.00,1,0,52.0000,S,B,150.0
154,0,1,male,NaN,0,0,52.0000,S,A,150.0
155,1,1,female,35.00,1,0,52.0000,S,NaN,150.0
156,0,1,male,54.00,0,0,51.8625,S,E,157.0
157,1,1,female,NaN,1,0,51.8625,S,D,157.0
158,1,1,female,53.00,2,0,51.4792,S,C,159.0
159,0,1,male,31.00,0,0,50.4958,S,A,160.0
160,0,1,male,NaN,0,0,50.0000,S,A,161.0
161,1,1,female,24.00,0,0,49.5042,C,C,162.0
162,0,1,male,71.00,0,0,49.5042,C,NaN,162.0
163,1,1,female,22.00,0,2,49.5000,C,B,164.0
164,0,1,male,28.00,0,0,47.1000,S,NaN,165.0
165,0,3,female,43.00,1,6,46.9000,S,NaN,166.0
166,0,3,male,1.00,5,2,46.9000,S,NaN,166.0
167,0,3,male,14.00,5,2,46.9000,S,NaN,166.0
168,0,3,male,9.00,5,2,46.9000,S,NaN,166.0
169,0,3,male,11.00,5,2,46.9000,S,NaN,166.0
170,0,3,female,16.00,5,2,46.9000,S,NaN,166.0
171,0,1,male,NaN,0,0,42.4000,S,NaN,172.0
172,0,2,male,25.00,1,2,41.5792,C,NaN,173.0
173,1,2,female,3.00,1,2,41.5792,C,NaN,173.0
174,1,2,female,22.00,1,2,41.5792,C,NaN,173.0
175,0,1,male,36.00,0,0,40.1250,C,A,176.0
176,0,3,female,41.00,0,5,39.6875,S,NaN,177.0
177,0,3,male,14.00,4,1,39.6875,S,NaN,177.0
178,0,3,male,2.00,4,1,39.6875,S,NaN,177.0
179,0,3,male,16.00,4,1,39.6875,S,NaN,177.0
180,0,3,male,7.00,4,1,39.6875,S,NaN,177.0
181,0,3,male,1.00,4,1,39.6875,S,NaN,177.0
182,0,1,male,NaN,0,0,39.6000,C,NaN,183.0
183,1,1,female,48.00,1,0,39.6000,C,A,183.0
184,1,1,female,16.00,0,1,39.4000,S,D,185.0
185,0,2,male,60.00,1,1,39.0000,S,NaN,186.0
186,1,2,male,1.00,2,1,39.0000,S,F,186.0
187,1,2,female,4.00,2,1,39.0000,S,F,186.0
188,1,2,female,40.00,1,1,39.0000,S,NaN,186.0
189,0,1,male,47.00,0,0,38.5000,S,E,190.0
190,0,2,male,31.00,1,1,37.0042,C,NaN,191.0
191,1,2,male,1.00,0,2,37.0042,C,NaN,191.0
192,0,2,male,19.00,1,1,36.7500,S,NaN,193.0
193,1,2,male,8.00,1,1,36.7500,S,NaN,193.0
194,1,1,male,28.00,0,0,35.5000,S,A,195.0
195,1,1,male,56.00,0,0,35.5000,C,A,195.0
196,0,1,male,45.00,0,0,35.5000,S,NaN,195.0
197,1,1,male,NaN,0,0,35.5000,S,C,195.0
198,0,1,male,NaN,0,0,35.0000,S,C,199.0
199,0,1,male,71.00,0,0,34.6542,C,A,200.0
200,0,3,female,21.00,2,2,34.3750,S,NaN,201.0
201,0,3,female,48.00,1,3,34.3750,S,NaN,201.0
202,0,3,male,16.00,1,3,34.3750,S,NaN,201.0
203,0,3,female,9.00,2,2,34.3750,S,NaN,201.0
204,0,1,male,47.00,0,0,34.0208,S,D,205.0
205,0,1,male,61.00,0,0,33.5000,S,B,206.0
206,0,2,male,28.00,0,1,33.0000,S,NaN,207.0
207,1,2,female,NaN,0,0,33.0000,S,NaN,207.0
208,1,2,female,6.00,0,1,33.0000,S,NaN,207.0
209,1,2,female,34.00,1,1,32.5000,S,NaN,210.0
210,0,1,male,61.00,0,0,32.3208,S,D,211.0
211,1,3,female,5.00,4,2,31.3875,S,NaN,212.0
212,0,3,male,9.00,4,2,31.3875,S,NaN,212.0
213,1,3,male,3.00,4,2,31.3875,S,NaN,212.0
214,1,3,female,38.00,1,5,31.3875,S,NaN,212.0
215,0,3,female,2.00,4,2,31.2750,S,NaN,216.0
216,0,3,female,6.00,4,2,31.2750,S,NaN,216.0
217,0,3,female,39.00,1,5,31.2750,S,NaN,216.0
218,0,3,female,9.00,4,2,31.2750,S,NaN,216.0
219,0,3,male,39.00,1,5,31.2750,S,NaN,216.0
220,0,3,male,4.00,4,2,31.2750,S,NaN,216.0
221,0,3,female,11.00,4,2,31.2750,S,NaN,216.0
222,1,1,female,30.00,0,0,31.0000,C,NaN,223.0
223,0,1,male,NaN,0,0,31.0000,S,NaN,223.0
224,1,1,male,40.00,0,0,31.0000,C,A,223.0
225,0,1,male,NaN,0,0,30.6958,C,NaN,226.0
226,0,1,male,56.00,0,0,30.6958,C,A,226.0
227,0,1,male,55.00,0,0,30.5000,S,C,228.0
228,1,1,male,32.00,0,0,30.5000,C,B,228.0
229,1,1,male,NaN,0,0,30.5000,S,C,228.0
230,1,1,male,27.00,0,0,30.5000,S,NaN,228.0
231,1,1,male,52.00,0,0,30.5000,S,C,228.0
232,0,2,male,32.50,1,0,30.0708,C,NaN,233.0
233,1,2,female,14.00,1,0,30.0708,C,NaN,233.0
234,0,1,male,29.00,0,0,30.0000,S,D,235.0
235,1,1,male,80.00,0,0,30.0000,S,A,235.0
236,1,2,female,25.00,1,1,30.0000,S,NaN,235.0
237,1,1,female,19.00,0,0,30.0000,S,B,235.0
238,1,1,male,NaN,0,0,30.0000,S,D,235.0
239,1,1,male,26.00,0,0,30.0000,C,C,235.0
240,1,1,male,NaN,0,0,29.7000,C,C,241.0
241,0,1,male,37.00,0,1,29.7000,C,C,241.0
242,0,1,male,58.00,0,0,29.7000,C,B,241.0
243,0,3,female,39.00,0,5,29.1250,Q,NaN,244.0
244,0,3,male,2.00,4,1,29.1250,Q,NaN,244.0
245,0,3,male,7.00,4,1,29.1250,Q,NaN,244.0
246,0,3,male,4.00,4,1,29.1250,Q,NaN,244.0
247,0,3,male,8.00,4,1,29.1250,Q,NaN,244.0
248,1,2,female,22.00,1,1,29.0000,S,NaN,249.0
249,1,2,male,0.83,0,2,29.0000,S,NaN,249.0
250,0,1,female,50.00,0,0,28.7125,C,C,251.0
251,0,1,male,45.50,0,0,28.5000,S,C,252.0
252,0,3,male,10.00,3,2,27.9000,S,NaN,253.0
253,0,3,female,2.00,3,2,27.9000,S,NaN,253.0
254,0,3,female,9.00,3,2,27.9000,S,NaN,253.0
255,0,3,male,4.00,3,2,27.9000,S,NaN,253.0
256,0,3,female,45.00,1,4,27.9000,S,NaN,253.0
257,0,3,male,40.00,1,4,27.9000,S,NaN,253.0
258,1,2,female,33.00,1,2,27.7500,S,NaN,259.0
259,1,2,female,5.00,1,2,27.7500,S,NaN,259.0
260,0,2,male,36.00,1,2,27.7500,S,NaN,259.0
261,0,1,male,30.00,0,0,27.7500,C,C,259.0
262,0,1,male,NaN,0,0,27.7208,C,NaN,263.0
263,0,1,male,40.00,0,0,27.7208,C,NaN,263.0
264,0,1,male,NaN,0,0,27.7208,C,NaN,263.0
265,0,2,male,29.00,1,0,27.7208,C,NaN,263.0
266,1,1,female,44.00,0,0,27.7208,C,B,263.0
267,0,2,male,42.00,1,0,27.0000,S,NaN,268.0
268,1,2,female,24.00,2,1,27.0000,S,NaN,268.0
269,0,1,male,65.00,0,0,26.5500,S,E,270.0
270,1,1,male,28.00,0,0,26.5500,S,C,270.0
271,1,1,male,45.00,0,0,26.5500,S,NaN,270.0
272,1,1,male,48.00,0,0,26.5500,S,E,270.0
273,1,1,male,NaN,0,0,26.5500,S,NaN,270.0
274,0,1,male,56.00,0,0,26.5500,S,NaN,270.0
275,0,1,male,62.00,0,0,26.5500,S,C,270.0
276,0,1,male,NaN,0,0,26.5500,S,C,270.0
277,0,1,male,45.00,0,0,26.5500,S,B,270.0
278,0,1,male,62.00,0,0,26.5500,S,NaN,270.0
279,1,1,female,58.00,0,0,26.5500,S,C,270.0
280,1,1,male,34.00,0,0,26.5500,S,NaN,270.0
281,1,1,male,35.00,0,0,26.5500,C,NaN,270.0
282,1,1,male,51.00,0,0,26.5500,S,E,270.0
283,0,1,male,60.00,0,0,26.5500,S,NaN,270.0
284,1,1,male,36.00,0,0,26.3875,S,E,285.0
285,1,1,male,36.00,0,0,26.2875,S,E,286.0
286,1,1,male,35.00,0,0,26.2875,S,E,286.0
287,1,1,male,42.00,0,0,26.2875,S,E,286.0
288,1,1,female,19.00,0,2,26.2833,S,D,289.0
289,1,2,female,7.00,0,2,26.2500,S,NaN,290.0
290,1,2,female,45.00,1,1,26.2500,S,NaN,290.0
291,1,2,female,8.00,0,2,26.2500,S,NaN,290.0
292,1,2,female,31.00,1,1,26.2500,S,NaN,290.0
293,0,2,male,31.00,1,1,26.2500,S,NaN,290.0
294,0,2,male,43.00,1,1,26.2500,S,NaN,290.0
295,1,2,female,29.00,1,0,26.0000,S,NaN,296.0
296,1,2,female,29.00,1,0,26.0000,S,NaN,296.0
297,0,2,male,16.00,0,0,26.0000,S,NaN,296.0
298,0,2,female,26.00,1,1,26.0000,S,NaN,296.0
299,0,2,male,54.00,0,0,26.0000,S,NaN,296.0
300,0,2,male,44.00,1,0,26.0000,S,NaN,296.0
301,1,2,female,28.00,1,0,26.0000,S,NaN,296.0
302,1,2,female,19.00,0,0,26.0000,S,NaN,296.0
303,0,2,male,37.00,1,0,26.0000,S,NaN,296.0
304,0,1,male,NaN,0,0,26.0000,S,A,296.0
305,1,2,female,50.00,0,1,26.0000,S,NaN,296.0
306,0,2,male,54.00,1,0,26.0000,S,NaN,296.0
307,0,2,male,36.50,0,2,26.0000,S,F,296.0
308,0,2,male,27.00,0,0,26.0000,S,NaN,296.0
309,1,2,female,19.00,1,0,26.0000,S,NaN,296.0
310,0,2,male,25.00,1,0,26.0000,S,NaN,296.0
311,0,2,male,34.00,1,0,26.0000,S,NaN,296.0
312,0,2,male,35.00,0,0,26.0000,S,NaN,296.0
313,1,2,male,3.00,1,1,26.0000,S,F,296.0
314,1,2,female,24.00,1,0,26.0000,S,NaN,296.0
315,0,1,male,64.00,0,0,26.0000,S,NaN,296.0
316,0,2,female,44.00,1,0,26.0000,S,NaN,296.0
317,1,2,male,2.00,1,1,26.0000,S,F,296.0
318,1,2,male,32.00,1,0,26.0000,S,NaN,296.0
319,1,2,female,36.00,1,0,26.0000,S,NaN,296.0
320,0,2,male,39.00,0,0,26.0000,S,NaN,296.0
321,1,2,female,33.00,0,2,26.0000,S,NaN,296.0
322,0,2,male,46.00,0,0,26.0000,S,NaN,296.0
323,1,2,female,42.00,1,0,26.0000,S,NaN,296.0
324,1,2,female,25.00,0,1,26.0000,S,NaN,296.0
325,1,2,female,2.00,1,1,26.0000,S,NaN,296.0
326,1,1,female,48.00,0,0,25.9292,S,D,327.0
327,1,1,female,49.00,0,0,25.9292,S,D,327.0
328,0,1,male,NaN,0,0,25.9250,S,NaN,329.0
329,0,1,male,47.00,0,0,25.5875,S,E,330.0
330,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
331,0,3,male,NaN,3,1,25.4667,S,NaN,331.0
332,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
333,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
334,0,3,male,NaN,1,0,24.1500,Q,NaN,335.0
335,0,3,male,24.00,2,0,24.1500,S,NaN,335.0
336,0,3,female,30.00,1,1,24.1500,S,NaN,335.0
337,1,3,female,NaN,1,0,24.1500,Q,NaN,335.0
338,0,3,male,39.00,0,0,24.1500,S,NaN,335.0
339,0,3,male,NaN,0,0,24.1500,Q,NaN,335.0
340,0,3,male,36.00,1,1,24.1500,S,NaN,335.0
341,0,3,female,10.00,0,2,24.1500,S,NaN,335.0
342,0,2,male,30.00,1,0,24.0000,C,NaN,343.0
343,1,2,female,28.00,1,0,24.0000,C,NaN,343.0
344,0,3,female,NaN,1,2,23.4500,S,NaN,345.0
345,0,3,male,NaN,1,2,23.4500,S,NaN,345.0
346,1,3,male,NaN,2,0,23.2500,Q,NaN,347.0
347,1,3,female,NaN,2,0,23.2500,Q,NaN,347.0
348,1,2,female,54.00,1,3,23.0000,S,NaN,349.0
349,1,2,female,34.00,0,1,23.0000,S,NaN,349.0
350,1,2,female,18.00,0,1,23.0000,S,NaN,349.0
351,1,2,female,4.00,1,1,23.0000,S,NaN,349.0
352,0,3,male,28.00,0,0,22.5250,S,NaN,353.0
353,1,3,female,NaN,0,2,22.3583,C,NaN,354.0
354,1,3,female,NaN,1,1,22.3583,C,F,354.0
355,1,3,female,4.00,0,2,22.0250,S,NaN,356.0
356,0,3,male,NaN,2,0,21.6792,C,NaN,357.0
357,0,3,female,29.00,0,4,21.0750,S,NaN,358.0
358,0,3,male,2.00,3,1,21.0750,S,NaN,358.0
359,0,3,female,3.00,3,1,21.0750,S,NaN,358.0
360,0,3,female,8.00,3,1,21.0750,S,NaN,358.0
361,1,2,female,30.00,3,0,21.0000,S,NaN,362.0
362,0,2,male,34.00,1,0,21.0000,S,NaN,362.0
363,1,2,female,35.00,0,0,21.0000,S,NaN,362.0
364,0,2,male,29.00,1,0,21.0000,S,NaN,362.0
365,0,2,male,34.00,1,0,21.0000,S,NaN,362.0
366,0,2,female,27.00,1,0,21.0000,S,NaN,362.0
367,0,3,male,26.00,1,2,20.5750,S,NaN,368.0
368,1,3,male,1.00,1,2,20.5750,S,NaN,368.0
369,1,3,female,31.00,1,1,20.5250,S,NaN,370.0
370,0,3,male,33.00,1,1,20.5250,S,NaN,370.0
371,1,3,male,9.00,0,2,20.5250,S,NaN,370.0
372,1,3,female,35.00,1,1,20.2500,S,NaN,373.0
373,0,3,male,16.00,1,1,20.2500,S,NaN,373.0
374,0,3,male,18.00,1,1,20.2125,S,NaN,375.0
375,0,3,female,41.00,0,2,20.2125,S,NaN,375.0
376,0,3,male,NaN,1,0,19.9667,S,NaN,377.0
377,0,3,male,NaN,1,0,19.9667,S,NaN,377.0
378,1,2,female,41.00,0,1,19.5000,S,NaN,379.0
379,1,2,female,13.00,0,1,19.5000,S,NaN,379.0
380,1,3,female,5.00,2,1,19.2583,C,NaN,381.0
381,1,3,female,0.75,2,1,19.2583,C,NaN,381.0
382,1,3,female,24.00,0,3,19.2583,C,NaN,381.0
383,1,3,female,0.75,2,1,19.2583,C,NaN,381.0
384,1,3,male,26.00,0,0,18.7875,C,NaN,385.0
385,0,3,male,11.00,0,0,18.7875,C,NaN,385.0
386,1,2,male,3.00,1,1,18.7500,S,NaN,387.0
387,1,2,female,24.00,2,3,18.7500,S,NaN,387.0
388,1,2,male,0.83,1,1,18.7500,S,NaN,387.0
389,0,3,female,31.00,1,0,18.0000,S,NaN,390.0
390,0,3,female,18.00,2,0,18.0000,S,NaN,390.0
391,0,3,male,16.00,2,0,18.0000,S,NaN,390.0
392,0,3,male,25.00,1,0,17.8000,S,NaN,393.0
393,0,3,female,18.00,1,0,17.8000,S,NaN,393.0
394,1,3,female,36.00,1,0,17.4000,S,NaN,395.0
395,1,3,female,24.00,0,2,16.7000,S,G,396.0
396,1,3,female,4.00,1,1,16.7000,S,G,396.0
397,0,3,male,28.50,0,0,16.1000,S,NaN,398.0
398,0,3,male,21.00,0,0,16.1000,S,NaN,398.0
399,1,3,female,NaN,1,0,16.1000,S,NaN,398.0
400,0,3,female,26.00,1,0,16.1000,S,NaN,398.0
401,0,3,male,NaN,1,0,16.1000,S,NaN,398.0
402,0,3,male,30.00,1,0,16.1000,S,NaN,398.0
403,1,3,female,NaN,1,0,16.1000,S,NaN,398.0
404,0,3,male,44.00,0,1,16.1000,S,NaN,398.0
405,0,3,male,24.00,1,0,16.1000,S,NaN,398.0
406,1,2,female,55.00,0,0,16.0000,S,NaN,407.0
407,1,3,male,9.00,1,1,15.9000,S,NaN,408.0
408,1,3,male,3.00,1,1,15.9000,S,NaN,408.0
409,1,3,female,24.00,1,0,15.8500,S,NaN,410.0
410,1,3,female,33.00,3,0,15.8500,S,NaN,410.0
411,0,3,male,28.00,1,0,15.8500,S,NaN,410.0
412,0,3,male,32.00,1,0,15.8500,S,NaN,410.0
413,1,2,female,40.00,0,0,15.7500,S,NaN,414.0
414,1,3,female,1.00,0,2,15.7417,C,NaN,415.0
415,1,3,male,20.00,1,1,15.7417,C,NaN,415.0
416,0,3,male,36.00,1,0,15.5500,S,NaN,417.0
417,0,3,male,40.00,1,1,15.5000,Q,NaN,418.0
418,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
419,0,3,male,NaN,1,0,15.5000,Q,NaN,418.0
420,0,3,female,32.00,1,1,15.5000,Q,NaN,418.0
421,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
422,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
423,0,3,male,NaN,1,0,15.5000,Q,NaN,418.0
424,0,3,male,NaN,0,0,15.5000,Q,NaN,418.0
425,0,3,female,9.00,1,1,15.2458,C,NaN,426.0
426,0,3,female,NaN,0,2,15.2458,C,NaN,426.0
427,1,3,male,NaN,1,1,15.2458,C,NaN,426.0
428,1,3,male,NaN,1,1,15.2458,C,NaN,426.0
429,1,3,female,29.00,0,2,15.2458,C,NaN,426.0
430,0,3,male,NaN,0,0,15.1000,S,NaN,431.0
431,0,2,male,NaN,0,0,15.0500,C,NaN,432.0
432,0,2,male,23.00,0,0,15.0458,C,NaN,433.0
433,0,2,male,47.00,0,0,15.0000,S,NaN,434.0
434,0,3,female,47.00,1,0,14.5000,S,NaN,435.0
435,0,3,male,40.50,0,2,14.5000,S,NaN,435.0
436,1,2,female,24.00,0,2,14.5000,S,NaN,435.0
437,0,3,male,19.00,0,0,14.5000,S,NaN,435.0
438,0,3,male,NaN,0,0,14.5000,S,NaN,435.0
439,0,3,male,NaN,0,0,14.5000,S,NaN,435.0
440,1,2,male,0.67,1,1,14.5000,S,NaN,435.0
441,0,3,female,17.00,0,0,14.4583,C,NaN,442.0
442,0,3,female,NaN,1,0,14.4583,C,NaN,442.0
443,0,3,male,NaN,0,0,14.4583,C,NaN,442.0
444,0,3,male,27.00,1,0,14.4542,C,NaN,445.0
445,0,3,female,18.00,0,1,14.4542,C,NaN,445.0
446,0,3,female,14.50,1,0,14.4542,C,NaN,445.0
447,0,3,female,45.00,0,1,14.4542,C,NaN,445.0
448,1,3,female,15.00,1,0,14.4542,C,NaN,445.0
449,0,3,female,NaN,1,0,14.4542,C,NaN,445.0
450,0,3,male,26.00,1,0,14.4542,C,NaN,445.0
451,0,3,male,34.00,1,1,14.4000,S,NaN,452.0
452,0,3,female,28.00,1,1,14.4000,S,NaN,452.0
453,0,3,male,41.00,2,0,14.1083,S,NaN,454.0
454,0,2,male,54.00,0,0,14.0000,S,NaN,455.0
455,1,2,male,NaN,0,0,13.8625,C,NaN,456.0
456,1,2,female,27.00,1,0,13.8583,C,NaN,457.0
457,1,2,female,23.00,0,0,13.7917,C,D,458.0
458,0,2,male,59.00,0,0,13.5000,S,NaN,459.0
459,0,2,male,28.00,0,0,13.5000,S,NaN,459.0
460,0,2,male,52.00,0,0,13.5000,S,NaN,459.0
461,1,2,female,45.00,0,0,13.5000,S,NaN,459.0
462,1,3,female,4.00,0,1,13.4167,C,NaN,463.0
463,1,2,female,24.00,0,0,13.0000,S,F,464.0
464,0,2,male,52.00,0,0,13.0000,S,NaN,464.0
465,0,2,male,23.00,0,0,13.0000,S,NaN,464.0
466,1,2,female,18.00,0,2,13.0000,S,NaN,464.0
467,0,2,male,30.00,0,0,13.0000,S,NaN,464.0
468,1,2,female,36.00,0,0,13.0000,S,D,464.0
469,1,2,male,NaN,0,0,13.0000,S,NaN,464.0

### nunique(), nlargest() and nsmallest() with DataFrames

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
titanic.age.unique()

In [ ]:
titanic.nunique(axis = 1, dropna=False)
#dropna는 결측값 무시

In [ ]:
titanic.nunique(dropna = False)

In [67]:
titanic.nlargest(n = 5, columns = "fare")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,fare_rank
258,1,1,female,35.0,0,0,512.3292,C,NaN,1.0
679,1,1,male,36.0,0,1,512.3292,C,B,1.0
737,1,1,male,35.0,0,0,512.3292,C,B,1.0
27,0,1,male,19.0,3,2,263.0000,S,C,4.0
88,1,1,female,23.0,3,2,263.0000,S,C,4.0

In [ ]:
titanic.sort_values("fare", ascending = False).head(5)

In [ ]:
titanic.nsmallest(n = 1, columns = "age")

In [ ]:
titanic.loc[titanic.age.idxmin()]

### Summary Statistics and Accumulations

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [70]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,fare_rank
0,0,3,male,22.0,1,0,7.2500,S,NaN,809.0
1,1,1,female,38.0,1,0,71.2833,C,C,103.0
2,1,3,female,26.0,0,0,7.9250,S,NaN,651.0
3,1,1,female,35.0,1,0,53.1000,S,C,142.0
4,0,3,male,35.0,0,0,8.0500,S,NaN,607.0

In [76]:
titanic.describe(include=None)

,survived,pclass,age,sibsp,parch,fare,fare_rank
count,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,439.961841
std,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,254.525014
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,223.000000
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,445.000000
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,660.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,877.000000

In [97]:
titanic.loc[titanic.age.isna()]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,fare_rank
5,0,3,male,NaN,0,0,8.4583,Q,NaN,599.0
17,1,2,male,NaN,0,0,13.0000,S,NaN,464.0
19,1,3,female,NaN,0,0,7.2250,C,NaN,837.0
26,0,3,male,NaN,0,0,7.2250,C,NaN,837.0
28,1,3,female,NaN,0,0,7.8792,Q,NaN,708.0
29,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
31,1,1,female,NaN,1,0,146.5208,C,B,30.0
32,1,3,female,NaN,0,0,7.7500,Q,NaN,752.0
36,1,3,male,NaN,0,0,7.2292,C,NaN,822.0
42,0,3,male,NaN,0,0,7.8958,C,NaN,669.0
45,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
46,0,3,male,NaN,1,0,15.5000,Q,NaN,418.0
47,1,3,female,NaN,0,0,7.7500,Q,NaN,752.0
48,0,3,male,NaN,2,0,21.6792,C,NaN,357.0
55,1,1,male,NaN,0,0,35.5000,S,C,195.0
64,0,1,male,NaN,0,0,27.7208,C,NaN,263.0
65,1,3,male,NaN,1,1,15.2458,C,NaN,426.0
76,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
77,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
82,1,3,female,NaN,0,0,7.7875,Q,NaN,735.0
87,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
95,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
101,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
107,1,3,male,NaN,0,0,7.7750,S,NaN,736.0
109,1,3,female,NaN,1,0,24.1500,Q,NaN,335.0
121,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
126,0,3,male,NaN,0,0,7.7500,Q,NaN,752.0
128,1,3,female,NaN,1,1,22.3583,C,F,354.0
140,0,3,female,NaN,0,2,15.2458,C,NaN,426.0
154,0,3,male,NaN,0,0,7.3125,S,NaN,808.0
158,0,3,male,NaN,0,0,8.6625,S,NaN,584.0
159,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
166,1,1,female,NaN,0,1,55.0000,S,E,140.0
168,0,1,male,NaN,0,0,25.9250,S,NaN,329.0
176,0,3,male,NaN,3,1,25.4667,S,NaN,331.0
180,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
181,0,2,male,NaN,0,0,15.0500,C,NaN,432.0
185,0,1,male,NaN,0,0,50.0000,S,A,161.0
186,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
196,0,3,male,NaN,0,0,7.7500,Q,NaN,752.0
198,1,3,female,NaN,0,0,7.7500,Q,NaN,752.0
201,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
214,0,3,male,NaN,1,0,7.7500,Q,NaN,752.0
223,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
229,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
235,0,3,female,NaN,0,0,7.5500,S,NaN,800.0
240,0,3,female,NaN,1,0,14.4542,C,NaN,445.0
241,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
250,0,3,male,NaN,0,0,7.2500,S,NaN,809.0
256,1,1,female,NaN,0,0,79.2000,C,NaN,80.0
260,0,3,male,NaN,0,0,7.7500,Q,NaN,752.0
264,0,3,female,NaN,0,0,7.7500,Q,NaN,752.0
270,0,1,male,NaN,0,0,31.0000,S,NaN,223.0
274,1,3,female,NaN,0,0,7.7500,Q,NaN,752.0
277,0,2,male,NaN,0,0,0.0000,S,NaN,877.0
284,0,1,male,NaN,0,0,26.0000,S,A,296.0
295,0,1,male,NaN,0,0,27.7208,C,NaN,263.0
298,1,1,male,NaN,0,0,30.5000,S,C,228.0
300,1,3,female,NaN,0,0,7.7500,Q,NaN,752.0
301,1,3,male,NaN,2,0,23.2500,Q,NaN,347.0
303,1,2,female,NaN,0,0,12.3500,Q,E,513.0
304,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
306,1,1,female,NaN,0,0,110.8833,C,NaN,46.0
324,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
330,1,3,female,NaN,2,0,23.2500,Q,NaN,347.0
334,1,1,female,NaN,1,0,133.6500,S,NaN,37.0
335,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
347,1,3,female,NaN,1,0,16.1000,S,NaN,398.0
351,0,1,male,NaN,0,0,35.0000,S,C,199.0
354,0,3,male,NaN,0,0,7.2250,C,NaN,837.0
358,1,3,female,NaN,0,0,7.8792,Q,NaN,708.0
359,1,3,female,NaN,0,0,7.8792,Q,NaN,708.0
364,0,3,male,NaN,1,0,15.5000,Q,NaN,418.0
367,1,3,female,NaN,0,0,7.2292,C,NaN,822.0
368,1,3,female,NaN,0,0,7.7500,Q,NaN,752.0
375,1,1,female,NaN,1,0,82.1708,C,NaN,72.0
384,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
388,0,3,male,NaN,0,0,7.7292,Q,NaN,793.0
409,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
410,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
411,0,3,male,NaN,0,0,6.8583,Q,NaN,867.0
413,0,2,male,NaN,0,0,0.0000,S,NaN,877.0
415,0,3,female,NaN,0,0,8.0500,S,NaN,607.0
420,0,3,male,NaN,0,0,7.8958,C,NaN,669.0
425,0,3,male,NaN,0,0,7.2500,S,NaN,809.0
428,0,3,male,NaN,0,0,7.7500,Q,NaN,752.0
431,1,3,female,NaN,1,0,16.1000,S,NaN,398.0
444,1,3,male,NaN,0,0,8.1125,S,NaN,606.0
451,0,3,male,NaN,1,0,19.9667,S,NaN,377.0
454,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
457,1,1,female,NaN,1,0,51.8625,S,D,157.0
459,0,3,male,NaN,0,0,7.7500,Q,NaN,752.0
464,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
466,0,2,male,NaN,0,0,0.0000,S,NaN,877.0
468,0,3,male,NaN,0,0,7.7250,Q,NaN,794.0
470,0,3,male,NaN,0,0,7.2500,S,NaN,809.0
475,0,1,male,NaN,0,0,52.0000,S,A,150.0
481,0,2,male,NaN,0,0,0.0000,S,NaN,877.0
485,0,3,female,NaN,3,1,25.4667,S,NaN,331.0
490,0,3,male,NaN,1,0,19.9667,S,NaN,377.0
495,0,3,male,NaN,0,0,14.4583,C,NaN,442.0
497,0,3,male,NaN,0,0,15.1000,S,NaN,431.0
502,0,3,female,NaN,0,0,7.6292,Q,NaN,799.0
507,1,1,male,NaN,0,0,26.5500,S,NaN,270.0
511,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
517,0,3,male,NaN,0,0,24.1500,Q,NaN,335.0
522,0,3,male,NaN,0,0,7.2250,C,NaN,837.0
524,0,3,male,NaN,0,0,7.2292,C,NaN,822.0
527,0,1,male,NaN,0,0,221.7792,S,C,16.0
531,0,3,male,NaN,0,0,7.2292,C,NaN,822.0
533,1,3,female,NaN,0,2,22.3583,C,NaN,354.0
538,0,3,male,NaN,0,0,14.5000,S,NaN,435.0
547,1,2,male,NaN,0,0,13.8625,C,NaN,456.0
552,0,3,male,NaN,0,0,7.8292,Q,NaN,726.0
557,0,1,male,NaN,0,0,227.5250,C,NaN,12.0
560,0,3,male,NaN,0,0,7.7500,Q,NaN,752.0
563,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
564,0,3,female,NaN,0,0,8.0500,S,NaN,607.0
568,0,3,male,NaN,0,0,7.2292,C,NaN,822.0
573,1,3,female,NaN,0,0,7.7500,Q,NaN,752.0
578,0,3,female,NaN,1,0,14.4583,C,NaN,442.0
584,0,3,male,NaN,0,0,8.7125,C,NaN,582.0
589,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
593,0,3,female,NaN,0,2,7.7500,Q,NaN,752.0
596,1,2,female,NaN,0,0,33.0000,S,NaN,207.0
598,0,3,male,NaN,0,0,7.2250,C,NaN,837.0
601,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
602,0,1,male,NaN,0,0,42.4000,S,NaN,172.0
611,0,3,male,NaN,0,0,7.0500,S,NaN,856.0
612,1,3,female,NaN,1,0,15.5000,Q,NaN,418.0
613,0,3,male,NaN,0,0,7.7500,Q,NaN,752.0
629,0,3,male,NaN,0,0,7.7333,Q,NaN,789.0
633,0,1,male,NaN,0,0,0.0000,S,NaN,877.0
639,0,3,male,NaN,1,0,16.1000,S,NaN,398.0
643,1,3,male,NaN,0,0,56.4958,S,NaN,130.0
648,0,3,male,NaN,0,0,7.5500,S,NaN,800.0
650,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
653,1,3,female,NaN,0,0,7.8292,Q,NaN,726.0
656,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
667,0,3,male,NaN,0,0,7.7750,S,NaN,736.0
669,1,1,female,NaN,1,0,52.0000,S,C,150.0
674,0,2,male,NaN,0,0,0.0000,S,NaN,877.0
680,0,3,female,NaN,0,0,8.1375,Q,NaN,605.0
692,1,3,male,NaN,0,0,56.4958,S,NaN,130.0
697,1,3,female,NaN,0,0,7.7333,Q,NaN,789.0
709,1,3,male,NaN,1,1,15.2458,C,NaN,426.0
711,0,1,male,NaN,0,0,26.5500,S,C,270.0
718,0,3,male,NaN,0,0,15.5000,Q,NaN,418.0
727,1,3,female,NaN,0,0,7.7375,Q,NaN,787.0
732,0,2,male,NaN,0,0,0.0000,S,NaN,877.0
738,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
739,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
740,1,1,male,NaN,0,0,30.0000,S,D,235.0
760,0,3,male,NaN,0,0,14.5000,S,NaN,435.0
766,0,1,male,NaN,0,0,39.6000,C,NaN,183.0
768,0,3,male,NaN,1,0,24.1500,Q,NaN,335.0
773,0,3,male,NaN,0,0,7.2250,C,NaN,837.0
776,0,3,male,NaN,0,0,7.7500,Q,F,752.0
778,0,3,male,NaN,0,0,7.7375,Q,NaN,787.0
783,0,3,male,NaN,1,2,23.4500,S,NaN,345.0
790,0,3,male,NaN,0,0,7.7500,Q,NaN,752.0
792,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
793,0,1,male,NaN,0,0,30.6958,C,NaN,226.0
815,0,1,male,NaN,0,0,0.0000,S,B,877.0
825,0,3,male,NaN,0,0,6.9500,Q,NaN,866.0
826,0,3,male,NaN,0,0,56.4958,S,NaN,130.0
828,1,3,male,NaN,0,0,7.7500,Q,NaN,752.0
832,0,3,male,NaN,0,0,7.2292,C,NaN,822.0
837,0,3,male,NaN,0,0,8.0500,S,NaN,607.0
839,1,1,male,NaN,0,0,29.7000,C,C,241.0
846,0,3,male,NaN,8,2,69.5500,S,NaN,106.0
849,1,1,female,NaN,1,0,89.1042,C,C,62.0
859,0,3,male,NaN,0,0,7.2292,C,NaN,822.0
863,0,3,female,NaN,8,2,69.5500,S,NaN,106.0
868,0,3,male,NaN,0,0,9.5000,S,NaN,563.0
878,0,3,male,NaN,0,0,7.8958,S,NaN,669.0
888,0,3,female,NaN,1,2,23.4500,S,NaN,345.0

In [162]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [164]:
titanic.count(axis = "index")
#axis="index"와 axis=0은 같은 결과
#행을 따라서 있는 원소들을 센다는 의미이다.

survived    891
pclass      891
sex         891
age         714
sibsp       891
parch       891
fare        891
embarked    889
deck        203
dtype: int64

In [100]:
titanic.count(axis = 1)
#titanic.count(axis="columns")와 같은 결과
#각 행에 결측값이 아닌 값의 개수를 반환한다.

0       9
1      10
2       9
3      10
4       9
5       8
6      10
7       9
8       9
9       9
10     10
11     10
12      9
13      9
14      9
15      9
16      9
17      8
18      9
19      8
20      9
21     10
22      9
23     10
24      9
25      9
26      8
27     10
28      8
29      8
30      9
31      9
32      8
33      9
34      9
35      9
36      8
37      9
38      9
39      9
40      9
41      9
42      8
43      9
44      9
45      8
46      8
47      8
48      8
49      9
50      9
51      9
52     10
53      9
54     10
55      9
56      9
57      9
58      9
59      9
60      9
61      9
62     10
63      9
64      8
65      8
66     10
67      9
68      9
69      9
70      9
71      9
72      9
73      9
74      9
75     10
76      8
77      8
78      9
79      9
80      9
81      9
82      8
83      9
84      9
85      9
86      9
87      8
88     10
89      9
90      9
91      9
92     10
93      9
94      9
95      8
96     10
97     10
98      9
99      9
100     9
101     8
102    10
103     9
104     9
105     9
106     9
107     8
108     9
109     8
110    10
111     9
112     9
113     9
114     9
115     9
116     9
117     9
118    10
119     9
120     9
121     8
122     9
123    10
124    10
125     9
126     8
127     9
128     9
129     9
130     9
131     9
132     9
133     9
134     9
135     9
136    10
137    10
138     9
139    10
140     8
141     9
142     9
143     9
144     9
145     9
146     9
147     9
148    10
149     9
150     9
151    10
152     9
153     9
154     8
155     9
156     9
157     9
158     8
159     8
160     9
161     9
162     9
163     9
164     9
165     9
166     9
167     9
168     8
169     9
170    10
171     9
172     9
173     9
174    10
175     9
176     8
177    10
178     9
179     9
180     8
181     8
182     9
183    10
184     9
185     9
186     8
187     9
188     9
189     9
190     9
191     9
192     9
193    10
194    10
195    10
196     8
197     9
198     8
199     9
200     9
201     8
202     9
203     9
204     9
205    10
206     9
207     9
208     9
209    10
210     9
211     9
212     9
213     9
214     8
215    10
216     9
217     9
218    10
219     9
220     9
221     9
222     9
223     8
224    10
225     9
226     9
227     9
228     9
229     8
230    10
231     9
232     9
233     9
234     9
235     8
236     9
237     9
238     9
239     9
240     8
241     8
242     9
243     9
244     9
245    10
246     9
247     9
248    10
249     9
250     8
251    10
252    10
253     9
254     9
255     9
256     8
257    10
258     9
259     9
260     8
261     9
262    10
263    10
264     8
265     9
266     9
267     9
268    10
269    10
270     8
271     9
272     9
273    10
274     8
275    10
276     9
277     8
278     9
279     9
280     9
281     9
282     9
283     9
284     9
285     9
286     9
287     9
288     9
289     9
290     9
291    10
292    10
293     9
294     9
295     8
296     9
297    10
298     9
299    10
300     8
301     8
302     9
303     9
304     8
305    10
306     8
307    10
308     9
309    10
310    10
311    10
312     9
313     9
314     9
315     9
316     9
317     9
318    10
319    10
320     9
321     9
322     9
323     9
324     8
325    10
326     9
327    10
328     9
329    10
330     8
331    10
332    10
333     9
334     8
335     8
336    10
337    10
338     9
339     9
340    10
341    10
342     9
343     9
344     9
345    10
346     9
347     8
348     9
349     9
350     9
351     9
352     9
353     9
354     8
355     9
356    10
357     9
358     8
359     8
360     9
361     9
362     9
363     9
364     8
365     9
366    10
367     8
368     8
369    10
370    10
371     9
372     9
373     9
374     9
375     8
376     9
377    10
378     9
379     9
380     9
381     9
382     9
383     9
384     8
385     9
386     9
387     9
388     8
389     9
390    10
391     9
392     9
393    10
394    10
395     9
396     9
397     9
398     9
399     9
400     9
401     9
402     9
403     9
404     9
405     9
406     9
407     9
408     9
409     8
410     8
411     8
412    10
413     8
414     9
415     8
416     9
417     9
418     9
419     9
420     8
421     9
422     9
423     9
424     9
425     8
426     9
427     9
428     8
429    10
430    10
431     8
432     9
433     9
434    10
435    10
436     9
437     9
438    10
439     9
440     9
441     9
442     9
443     9
444     8
445    10
446     9
447     9
448     9
449    10
450     9
451     8
452    10
453    10
454     8
455     9
456    10
457     9
458     9
459     8
460    10
461     9
462    10
463     9
464     8
465     9
466     8
467     9
468     8
469     9
470     8
471     9
472     9
473    10
474     9
475     9
476     9
477     9
478     9
479     9
480     9
481     8
482     9
483     9
484    10
485     8
486    10
487    10
488     9
489     9
490     8
491     9
492    10
493     9
494     9
495     8
496    10
497     8
498    10
499     9
500     9
501     9
502     8
503     9
504    10
505    10
506     9
507     8
508     9
509     9
510     9
511     8
512    10
513     9
514     9
515    10
516    10
517     8
518     9
519     9
520    10
521     9
522     8
523    10
524     8
525     9
526     9
527     9
528     9
529     9
530     9
531     8
532     9
533     8
534     9
535     9
536    10
537     9
538     8
539    10
540    10
541     9
542     9
543     9
544    10
545     9
546     9
547     8
548     9
549     9
550    10
551     9
552     8
553     9
554     9
555     9
556    10
557     8
558    10
559     9
560     8
561     9
562     9
563     8
564     8
565     9
566     9
567     9
568     8
569     9
570     9
571    10
572    10
573     8
574     9
575     9
576     9
577    10
578     8
579     9
580     9
581    10
582     9
583    10
584     8
585    10
586     9
587    10
588     9
589     8
590     9
591    10
592     9
593     8
594     9
595     9
596     8
597     9
598     8
599    10
600     9
601     8
602     8
603     9
604     9
605     9
606     9
607     9
608     9
609    10
610     9
611     8
612     8
613     8
614     9
615     9
616     9
617     9
618    10
619     9
620     9
621    10
622     9
623     9
624     9
625    10
626     9
627    10
628     9
629     8
630    10
631     9
632    10
633     8
634     9
635     9
636     9
637     9
638     9
639     8
640     9
641    10
642     9
643     8
644     9
645    10
646     9
647    10
648     8
649     9
650     8
651     9
652     9
653     8
654     9
655     9
656     8
657     9
658     9
659    10
660     9
661     9
662    10
663     9
664     9
665     9
666     9
667     8
668     9
669     9
670     9
671    10
672     9
673     9
674     8
675     9
676     9
677     9
678     9
679    10
680     8
681    10
682     9
683     9
684     9
685     9
686     9
687     9
688     9
689    10
690    10
691     9
692     8
693     9
694     9
695     9
696     9
697     8
698    10
699    10
700    10
701    10
702     9
703     9
704     9
705     9
706     9
707    10
708     9
709     8
710    10
711     9
712    10
713     9
714     9
715    10
716    10
717    10
718     8
719     9
720     9
721     9
722     9
723     9
724    10
725     9
726     9
727     8
728     9
729     9
730    10
731     9
732     8
733     9
734     9
735     9
736     9
737    10
738     8
739     8
740     9
741    10
742    10
743     9
744     9
745    10
746     9
747     9
748    10
749     9
750     9
751    10
752     9
753     9
754     9
755     9
756     9
757     9
758     9
759    10
760     8
761     9
762     9
763    10
764     9
765    10
766     8
767     9
768     8
769     9
770     9
771     9
772    10
773     8
774     9
775     9
776     9
777     9
778     8
779    10
780     9
781    10
782    10
783     8
784     9
785     9
786     9
787     9
788     9
789    10
790     8
791     9
792     8
793     8
794     9
795     9
796    10
797     9
798     9
799     9
800     9
801     9
802    10
803     9
804     9
805     9
806    10
807     9
808     9
809    10
810     9
811     9
812     9
813     9
814     9
815     9
816     9
817     9
818     9
819     9
820    10
821     9
822     9
823    10
824     9
825     8
826     8
827     9
828     8
829     9
830     9
831     9
832     8
833     9
834     9
835    10
836     9
837     8
838     9
839     9
840     9
841     9
842     9
843     9
844     9
845     9
846     8
847     9
848     9
849     9
850     9
851     9
852     9
853    10
854     9
855     9
856     9
857    10
858     9
859     8
860     9
861     9
862    10
863     8
864     9
865     9
866     9
867    10
868     8
869     9
870     9
871    10
872    10
873     9
874     9
875     9
876     9
877     9
878     8
879    10
880     9
881     9
882     9
883     9
884     9
885     9
886     9
887    10
888     8
889    10
890     9
dtype: int64

In [107]:
titanic.mean(axis = 1, numeric_only=True)

0      120.321429
1       30.754757
2       98.417857
3       33.300000
4       93.292857
5      101.743050
6       37.694643
7       55.439286
8       81.304757
9       40.152971
10      60.385714
11      50.935714
12      91.150000
13      42.182143
14     105.407743
15      68.714286
16      40.446429
17      80.000000
18      63.285714
19     141.370833
20      51.285714
21      73.428571
22      96.718457
23      37.214286
24      56.296429
25      41.626786
26     141.204167
27      41.714286
28     119.979867
29     113.315967
30      47.388686
31      29.920133
32     127.291667
33      86.785714
34      26.310114
35      35.142857
36     138.871533
37      91.292857
38      61.571429
39      79.034529
40      89.496429
41      59.000000
42     113.315967
43      31.939886
44     105.554171
45     103.008333
46      72.916667
47     127.291667
48      63.946533
49      61.828571
50      33.098214
51     108.542857
52      31.675600
53      50.714286
54      35.568457
55      38.750000
56      80.500000
57     122.961314
58      42.535714
59      33.414286
60     122.032743
61      27.857143
62      28.210714
63      41.842857
64      48.620133
65      74.540967
66      81.642857
67      90.594043
68      97.989286
69      89.094643
70      81.928571
71      34.128571
72      27.785714
73      69.922029
74      31.785114
75     118.664286
76     113.315967
77     103.008333
78      40.547143
79      79.353571
80      87.571429
81      86.500000
82     124.464583
83      34.442857
84      79.928571
85      66.550000
86      36.910714
87     103.008333
88      42.428571
89      91.721429
90      92.435714
91     106.264886
92      33.025000
93      60.082143
94     125.464286
95     103.008333
96      43.807743
97      29.765471
98      58.571429
99      51.285714
100    101.127971
101    113.315967
102     27.326786
103     91.664886
104    100.132143
105    101.127971
106    118.235714
107    124.629167
108    102.556543
109     60.691667
110     35.714286
111     68.279171
112     91.435714
113     84.689286
114     68.065471
115     97.560714
116    119.035714
117     59.285714
118     40.502971
119     36.896429
120     28.071429
121    103.008333
122     42.652971
123     73.214286
124     32.041071
125     78.748814
126    127.125000
127    126.305957
128     63.726383
129    131.282143
130    101.842257
131    126.578571
132     71.500000
133     50.714286
134     72.000000
135     67.577971
136     48.326186
137     33.442857
138     86.602386
139     26.314286
140     74.374300
141    112.250000
142     64.978571
143    128.107143
144     78.642857
145     36.107143
146    109.685114
147     35.910714
148     51.785714
149     74.428571
150     81.932143
151     29.514286
152     96.221429
153     70.714286
154    136.385417
155     33.625600
156    116.676186
157     92.578571
158     99.277083
159     31.425000
160     66.014286
161     67.535714
162    110.396429
163     87.523214
164     32.241071
165     57.932143
166     33.000000
167     47.700000
168     59.320833
169     31.070829
170     43.071429
171     40.732143
172     77.590471
173     97.560714
174     44.813686
175    106.264886
176     60.577783
177     47.244643
178     72.714286
179    130.857143
180     31.425000
181     74.841667
182     37.341071
183     33.142857
184     55.432143
185     35.333333
186     73.083333
187     49.078571
188     68.357143
189    102.270829
190     73.142857
191     71.142857
192    106.407743
193     47.142857
194     48.102971
195     33.788686
196    127.125000
197     93.629171
198    127.291667
199     71.857143
200     86.214286
201     31.425000
202    130.499400
203    127.532143
204     91.007143
205     81.351786
206     65.978571
207     61.969643
208    111.392857
209     42.285714
210    127.150000
211     60.142857
212    120.178571
213     72.714286
214    127.291667
215     27.182143
216     98.560714
217     48.571429
218     29.470243
219     81.642857
220     90.721429
221     72.285714
222     95.578571
223    113.315967
224     27.000000
225     86.907143
226     80.214286
227    119.964286
228     71.000000
229     60.577783
230     26.925000
231    110.825000
232     76.214286
233     36.912500
234     80.785714
235    135.091667
236     52.714286
237     47.035714
238     80.071429
239     80.610714
240     77.242367
241     73.083333
242     81.500000
243    126.017857
244    125.317857
245     27.857143
246    110.253571
247     68.357143
248     34.364886
249     54.142857
250    136.541667
251     85.351786
252     51.364286
253     64.014286
254     63.030357
255     68.035114
256     26.866667
257     26.071429
258     78.618457
259     53.714286
260    127.125000
261     36.626786
262     30.235714
263    131.142857
264    127.125000
265     82.500000
266     34.383929
267    110.539286
268     33.923214
269     29.233329
270     42.500000
271    129.428571
272     63.357143
273     44.242857
274    127.291667
275     33.136900
276    115.392857
277    146.500000
278     41.160714
279     62.035714
280    118.250000
281    107.407743
282     84.500000
283     91.150000
284     53.833333
285     89.808929
286     86.642857
287    100.270829
288     74.571429
289    112.250000
290     27.264286
291     24.154171
292     79.553571
293     88.121429
294    100.556543
295     48.620133
296    122.247029
297     26.221429
298     43.416667
299     44.360114
300    127.291667
301     62.708333
302    128.428571
303     88.058333
304    103.008333
305     26.210000
306     26.480550
307     25.557143
308     57.142857
309     30.989886
310     25.451186
311     42.053571
312     50.285714
313    101.127971
314     51.892857
315    107.264886
316     50.000000
317     75.000000
318     31.552386
319     30.500000
320    120.178571
321    100.985114
322     79.764286
323     43.571429
324     31.425000
325     29.376186
326    134.891071
327     73.714286
328     61.075000
329     28.711314
330     62.708333
331     46.714286
332     30.923214
333     61.285714
334     28.941667
335    113.315967
336     30.371429
337     30.357143
338     94.864286
339     39.500000
340     47.000000
341     42.571429
342     72.428571
343     72.000000
344     73.571429
345     72.000000
346     74.285714
347     69.850000
348     61.842857
349     91.094643
350     87.317857
351     39.166667
352    121.318457
353     62.828571
354    141.204167
355     86.214286
356     31.428571
357     73.857143
358    119.979867
359    119.979867
360     46.985714
361     46.102971
362     72.636314
363    128.721429
364     72.916667
365    121.321429
366     33.607143
367    138.871533
368    127.291667
369     29.757143
370     31.777386
371    128.356543
372     91.007143
373     27.233329
374     55.582143
375     26.195133
376    120.321429
377     36.928571
378    129.001786
379    109.396429
380     40.503571
381     62.534529
382     99.132143
383     34.285714
384    113.315967
385     27.357143
386     31.985714
387     73.714286
388    133.954867
389     78.571429
390     28.571429
391    108.827971
392     98.846429
393     26.039286
394     63.242857
395    108.827971
396    107.836314
397     52.857143
398     80.642857
399     78.664286
400    100.275000
401     92.007143
402     84.832143
403     65.407143
404     87.951786
405     60.000000
406    116.250000
407     59.107143
408    109.682143
409     60.577783
410    113.315967
411    146.143050
412     26.285714
413    146.500000
414    100.989286
415    103.008333
416     40.214286
417     71.428571
418     72.714286
419     53.450000
420    113.315967
421    117.247614
422    107.410714
423     71.342857
424     59.744643
425    136.541667
426     50.571429
427     49.142857
428    127.125000
429     93.007143
430     46.650000
431     69.850000
432     52.571429
433    125.303571
434     34.985714
435     25.428571
436     37.625000
437     62.535714
438     48.142857
439     81.785714
440     52.321429
441     85.071429
442    110.396429
443     72.571429
444    103.018750
445     23.408329
446     59.357143
447     47.507143
448     58.894043
449     44.642857
450     46.821429
451     66.827783
452     45.392857
453     29.014886
454    103.008333
455    101.413686
456     51.792857
457     35.310417
458     84.642857
459    127.125000
460     49.507143
461     93.150000
462     39.500000
463     75.285714
464    103.008333
465    129.150000
466    146.500000
467     50.507143
468    134.120833
469     58.286900
470    136.541667
471     90.523214
472     46.535714
473     71.113100
474     84.691071
475     33.833333
476     60.000000
477    129.006543
478    119.502971
479     76.469643
480     33.128571
481    146.500000
482     95.435714
483     91.083929
484     25.011314
485     60.577783
486     26.571429
487     47.100000
488     92.578571
489     62.700000
490     66.827783
491    120.035714
492     44.928571
493     40.500600
494     91.292857
495     76.576383
496     31.609529
497     74.850000
498     29.507143
499    109.113686
500     87.523214
501    111.964286
502    134.938200
503     87.226786
504     24.071429
505     25.557143
506     51.428571
507     49.758333
508     58.075000
509     30.927971
510    113.250000
511    103.008333
512     50.041071
513     34.200000
514    119.927971
515     41.002971
516     82.357143
517     60.358333
518     51.714286
519    101.699400
520     25.642857
521    100.270829
522    141.204167
523     32.711314
524    138.704867
525    114.750000
526     84.642857
527     39.796533
528    100.132143
529     79.785714
530     47.000000
531    138.704867
532    121.604171
533     63.726383
534     89.380357
535     46.892857
536     48.935714
537     27.203571
538     75.416667
539     34.214286
540     30.714286
541     37.896429
542     38.182143
543     51.142857
544     30.060714
545     55.285714
546     49.285714
547     78.810417
548     61.217857
549     34.678571
550     25.411900
551     50.142857
552    122.804867
553    124.317857
554    109.967857
555     51.364286
556     39.085714
557     40.087500
558     28.521429
559     64.771429
560    127.125000
561    102.842257
562     71.785714
563    103.008333
564    103.008333
565     55.450000
566     99.842257
567     59.296429
568    138.704867
569    108.122029
570     86.357143
571     38.211314
572     49.912500
573    127.291667
574     90.578571
575     67.357143
576     73.428571
577     33.557143
578     76.743050
579     99.275000
580     42.142857
581     28.554757
582     54.000000
583     36.160714
584     98.952083
585     25.521429
586     71.142857
587     31.885714
588     91.435714
589    103.008333
590    127.875000
591     31.323814
592    123.750000
593    127.458333
594     51.714286
595     57.164286
596     40.500000
597    132.714286
598    141.204167
599     33.847029
600     46.428571
601    113.315967
602     35.900000
603     94.578571
604     47.650000
605     67.507143
606    101.413686
607     41.071429
608     34.654171
609     31.208929
610     42.182143
611    144.341667
612     73.083333
613    127.125000
614     93.292857
615     30.285714
616     72.200000
617     63.442857
618     33.571429
619     81.071429
620     70.064886
621     34.936314
622     65.248814
623    106.407743
624     62.585714
625     43.617257
626     83.478571
627     26.994043
628    100.842257
629    133.288883
630     49.571429
631    130.722029
632     41.785714
633    146.333333
634     42.557143
635     72.571429
636     99.132143
637     50.178571
638     37.955357
639     69.683333
640    106.264886
641     29.757143
642     41.557143
643     31.749300
644     58.286900
645     31.532743
646     99.842257
647     41.214286
648    135.091667
649    119.221429
650    113.315967
651     56.285714
652     90.347614
653    122.971533
654    127.964286
655     28.500000
656    113.315967
657     67.214286
658     71.714286
659     31.039286
660     32.092857
661    126.746429
662     57.655357
663    121.642257
664     97.703571
665     29.642857
666     72.000000
667    124.462500
668     94.435714
669     34.166667
670     38.571429
671     33.571429
672     87.357143
673     73.000000
674    146.500000
675    109.253571
676     91.792857
677     84.120243
678     37.985714
679     78.904171
680    102.689583
681     28.389886
682     86.889286
683     33.842857
684     41.285714
685     34.939886
686     34.098214
687     83.881543
688    108.256543
689     35.333929
690     31.000000
691     69.345243
692     31.749300
693    124.603571
694     51.078571
695     75.214286
696     94.578571
697    133.455550
698     29.840471
699    121.092857
700     37.217857
701     49.898214
702     68.779171
703    117.391671
704    107.264886
705     51.857143
706     74.357143
707     50.898214
708     28.792857
709     74.540967
710     33.929171
711     49.591667
712     36.142857
713     87.640471
714     75.857143
715    117.807143
716     39.932143
717     81.357143
718     72.750000
719    111.396429
720     35.714286
721    126.007743
722     73.285714
723     75.571429
724     32.157143
725     87.951786
726     59.857143
727    133.122917
728     50.000000
729     98.275000
730     37.191071
731     59.683929
732    146.500000
733     71.714286
734     71.714286
735     63.657143
736     41.482143
737     78.618457
738    113.315967
739    113.315967
740     44.500000
741     28.692857
742     42.482143
743     63.157143
744     99.132143
745     35.428571
746     59.178571
747     72.857143
748     30.871429
749    113.392857
750     54.428571
751     76.067857
752     86.928571
753    100.413686
754     33.714286
755     65.024286
756    109.685114
757     78.642857
758     93.150000
759     26.500000
760     75.416667
761    128.732143
762    121.889886
763     28.571429
764    108.967857
765     31.422614
766     37.266667
767    113.321429
768     60.525000
769     92.194643
770     85.642857
771    110.264886
772     85.500000
773    141.204167
774     61.857143
775    111.535714
776    127.125000
777     75.782143
778    132.956250
779     39.333929
780    120.889886
781     29.000000
782     42.142857
783     62.408333
784    127.292857
785    120.607143
786    119.213686
787     41.303571
788     56.653571
789     29.457143
790    127.125000
791     48.571429
792     31.425000
793     42.949300
794    100.699400
795     74.000000
796     57.704171
797     89.526186
798    123.175600
799     56.307143
800     73.285714
801     50.321429
802     25.000000
803     87.419529
804    128.853571
805    111.110714
806    131.000000
807    109.253571
808     74.000000
809     33.014286
810    106.269643
811     57.307143
812     82.357143
813     37.467857
814     92.650000
815    146.333333
816     97.846429
817     37.572029
818    132.064286
819     42.700000
820     29.071429
821     89.094643
822    130.857143
823     79.067857
824     32.383929
825    145.991667
826     31.582633
827     33.429171
828    127.291667
829     31.285714
830     68.493457
831     58.797143
832    138.704867
833    106.693457
834     90.328571
835     27.879757
836     88.094643
837    103.008333
838     31.785114
839     45.450000
840     97.417857
841     79.642857
842     40.857143
843    130.991071
844     87.523214
845    121.792857
846     31.425000
847    102.127971
848     38.714286
849     25.684033
850     37.182143
851    117.253571
852     65.035114
853     34.771429
854     52.714286
855     86.621429
856     33.552386
857     49.935714
858     61.608329
859    138.704867
860     73.444043
861     79.214286
862     57.561314
863     31.425000
864     71.857143
865     74.571429
866     71.694043
867     34.642257
868     95.916667
869     78.019043
870    100.842257
871     35.793457
872    130.571429
873     91.142857
874     57.000000
875    123.317857
876     84.120829
877     99.842257
878    113.315967
879     30.165471
880     50.142857
881    101.842257
882     80.502386
883     81.357143
884    127.292857
885     45.732143
886     72.285714
887     40.857143
888     62.408333
889     41.857143
890    113.535714
dtype: float64

In [109]:
titanic.sum(axis = 0, numeric_only=True)

survived        342.0000
pclass         2057.0000
age           21205.1700
sibsp           466.0000
parch           340.0000
fare          28693.9493
fare_rank    392006.0000
dtype: float64

In [104]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,fare_rank
0,0,3,male,22.0,1,0,7.2500,S,NaN,809.0
1,1,1,female,38.0,1,0,71.2833,C,C,103.0
2,1,3,female,26.0,0,0,7.9250,S,NaN,651.0
3,1,1,female,35.0,1,0,53.1000,S,C,142.0
4,0,3,male,35.0,0,0,8.0500,S,NaN,607.0

In [103]:
titanic.fare.cumsum(axis = 0)

0          7.2500
1         78.5333
2         86.4583
3        139.5583
4        147.6083
5        156.0666
6        207.9291
7        229.0041
8        240.1374
9        270.2082
10       286.9082
11       313.4582
12       321.5082
13       352.7832
14       360.6374
15       376.6374
16       405.7624
17       418.7624
18       436.7624
19       443.9874
20       469.9874
21       482.9874
22       491.0166
23       526.5166
24       547.5916
25       578.9791
26       586.2041
27       849.2041
28       857.0833
29       864.9791
30       892.6999
31      1039.2207
32      1046.9707
33      1057.4707
34      1139.6415
35      1191.6415
36      1198.8707
37      1206.9207
38      1224.9207
39      1236.1624
40      1245.6374
41      1266.6374
42      1274.5332
43      1316.1124
44      1323.9916
45      1332.0416
46      1347.5416
47      1355.2916
48      1376.9708
49      1394.7708
50      1434.4583
51      1442.2583
52      1518.9875
53      1544.9875
54      1606.9667
55      1642.4667
56      1652.9667
57      1660.1959
58      1687.9459
59      1734.8459
60      1742.0751
61      1822.0751
62      1905.5501
63      1933.4501
64      1961.1709
65      1976.4167
66      1986.9167
67      1995.0750
68      2003.0000
69      2011.6625
70      2022.1625
71      2069.0625
72      2142.5625
73      2157.0167
74      2213.5125
75      2221.1625
76      2229.0583
77      2237.1083
78      2266.1083
79      2278.5833
80      2287.5833
81      2297.0833
82      2304.8708
83      2351.9708
84      2362.4708
85      2378.3208
86      2412.6958
87      2420.7458
88      2683.7458
89      2691.7958
90      2699.8458
91      2707.7000
92      2768.8750
93      2789.4500
94      2796.7000
95      2804.7500
96      2839.4042
97      2902.7625
98      2925.7625
99      2951.7625
100     2959.6583
101     2967.5541
102     3044.8416
103     3053.4958
104     3061.4208
105     3069.3166
106     3076.9666
107     3084.7416
108     3092.6374
109     3116.7874
110     3168.7874
111     3183.2416
112     3191.2916
113     3201.1166
114     3215.5749
115     3223.4999
116     3231.2499
117     3252.2499
118     3499.7707
119     3531.0457
120     3604.5457
121     3612.5957
122     3642.6665
123     3655.6665
124     3732.9540
125     3744.1957
126     3751.9457
127     3759.0874
128     3781.4457
129     3788.4207
130     3796.3165
131     3803.3665
132     3817.8665
133     3843.8665
134     3856.8665
135     3871.9123
136     3898.1956
137     3951.2956
138     3960.5123
139     4039.7123
140     4054.9581
141     4062.7081
142     4078.5581
143     4085.3081
144     4096.8081
145     4133.5581
146     4141.3539
147     4175.7289
148     4201.7289
149     4214.7289
150     4227.2539
151     4293.8539
152     4301.9039
153     4316.4039
154     4323.7164
155     4385.0956
156     4392.8289
157     4400.8789
158     4409.5414
159     4479.0914
160     4495.1914
161     4510.9414
162     4518.7164
163     4527.3789
164     4567.0664
165     4587.5914
166     4642.5914
167     4670.4914
168     4696.4164
169     4752.9122
170     4786.4122
171     4815.5372
172     4826.6705
173     4834.5955
174     4865.2913
175     4873.1455
176     4898.6122
177     4927.3247
178     4940.3247
179     4940.3247
180     5009.8747
181     5024.9247
182     5056.3122
183     5095.3122
184     5117.3372
185     5167.3372
186     5182.8372
187     5209.3872
188     5224.8872
189     5232.7830
190     5245.7830
191     5258.7830
192     5266.6372
193     5292.6372
194     5320.3580
195     5466.8788
196     5474.6288
197     5483.0330
198     5490.7830
199     5503.7830
200     5513.2830
201     5582.8330
202     5589.3288
203     5596.5538
204     5604.6038
205     5615.0663
206     5630.9163
207     5649.7038
208     5657.4538
209     5688.4538
210     5695.5038
211     5716.5038
212     5723.7538
213     5736.7538
214     5744.5038
215     5857.7788
216     5865.7038
217     5892.7038
218     5968.9955
219     5979.4955
220     5987.5455
221     6000.5455
222     6008.5955
223     6016.4913
224     6106.4913
225     6115.8413
226     6126.3413
227     6133.5913
228     6146.5913
229     6172.0580
230     6255.5330
231     6263.3080
232     6276.8080
233     6308.1955
234     6318.6955
235     6326.2455
236     6352.2455
237     6378.4955
238     6388.9955
239     6401.2705
240     6415.7247
241     6431.2247
242     6441.7247
243     6448.8497
244     6456.0747
245     6546.0747
246     6553.8497
247     6568.3497
248     6620.9039
249     6646.9039
250     6654.1539
251     6664.6164
252     6691.1664
253     6707.2664
254     6727.4789
255     6742.7247
256     6821.9247
257     6908.4247
258     7420.7539
259     7446.7539
260     7454.5039
261     7485.8914
262     7565.5414
263     7565.5414
264     7573.2914
265     7583.7914
266     7623.4789
267     7631.2539
268     7784.7164
269     7920.3497
270     7951.3497
271     7951.3497
272     7970.8497
273     8000.5497
274     8008.2997
275     8086.2580
276     8094.0080
277     8094.0080
278     8123.1330
279     8143.3830
280     8151.1330
281     8158.9872
282     8168.4872
283     8176.5372
284     8202.5372
285     8211.1997
286     8220.6997
287     8228.5955
288     8241.5955
289     8249.3455
290     8328.1955
291     8419.2747
292     8432.1497
293     8440.9997
294     8448.8955
295     8476.6163
296     8483.8455
297     8635.3955
298     8665.8955
299     8913.4163
300     8921.1663
301     8944.4163
302     8944.4163
303     8956.7663
304     8964.8163
305     9116.3663
306     9227.2496
307     9336.1496
308     9360.1496
309     9417.0788
310     9500.2371
311     9762.6121
312     9788.6121
313     9796.5079
314     9822.7579
315     9830.6121
316     9856.6121
317     9870.6121
318    10035.4788
319    10169.9788
320    10177.2288
321    10185.1246
322    10197.4746
323    10226.4746
324    10296.0246
325    10431.6579
326    10437.8954
327    10450.8954
328    10471.4204
329    10529.3996
330    10552.6496
331    10581.1496
332    10734.6121
333    10752.6121
334    10886.2621
335    10894.1579
336    10960.7579
337    11095.2579
338    11103.3079
339    11138.8079
340    11164.8079
341    11427.8079
342    11440.8079
343    11453.8079
344    11466.8079
345    11479.8079
346    11492.8079
347    11508.9079
348    11524.8079
349    11533.4704
350    11542.6954
351    11577.6954
352    11584.9246
353    11602.7246
354    11609.9496
355    11619.4496
356    11674.4496
357    11687.4496
358    11695.3288
359    11703.2080
360    11731.1080
361    11758.8288
362    11773.2830
363    11780.3330
364    11795.8330
365    11803.0830
366    11878.3330
367    11885.5622
368    11893.3122
369    11962.6122
370    12018.0539
371    12024.5497
372    12032.5997
373    12168.2330
374    12189.3080
375    12271.4788
376    12278.7288
377    12490.2288
378    12494.2413
379    12502.0163
380    12729.5413
381    12745.2830
382    12753.2080
383    12805.2080
384    12813.1038
385    12886.6038
386    12933.5038
387    12946.5038
388    12954.2330
389    12966.2330
390    13086.2330
391    13094.0288
392    13101.9538
393    13215.2288
394    13231.9288
395    13239.7246
396    13247.5788
397    13273.5788
398    13284.0788
399    13296.7288
400    13304.6538
401    13312.7038
402    13322.5288
403    13338.3788
404    13347.0413
405    13368.0413
406    13375.7913
407    13394.5413
408    13402.3163
409    13427.7830
410    13435.6788
411    13442.5371
412    13532.5371
413    13532.5371
414    13540.4621
415    13548.5121
416    13581.0121
417    13594.0121
418    13607.0121
419    13631.1621
420    13639.0579
421    13646.7912
422    13654.6662
423    13669.0662
424    13689.2787
425    13696.5287
426    13722.5287
427    13748.5287
428    13756.2787
429    13764.3287
430    13790.8787
431    13806.9787
432    13832.9787
433    13840.1037
434    13896.0037
435    14016.0037
436    14050.3787
437    14069.1287
438    14332.1287
439    14342.6287
440    14368.8787
441    14378.3787
442    14386.1537
443    14399.1537
444    14407.2662
445    14489.1245
446    14508.6245
447    14535.1745
448    14554.4328
449    14584.9328
450    14612.6828
451    14632.6495
452    14660.3995
453    14749.5037
454    14757.5537
455    14765.4495
456    14791.9995
457    14843.8620
458    14854.3620
459    14862.1120
460    14888.6620
461    14896.7120
462    14935.2120
463    14948.2120
464    14956.2620
465    14963.3120
466    14963.3120
467    14989.8620
468    14997.5870
469    15016.8453
470    15024.0953
471    15032.7578
472    15060.5078
473    15074.2995
474    15084.1370
475    15136.1370
476    15157.1370
477    15164.1828
478    15171.7036
479    15183.9911
480    15230.8911
481    15230.8911
482    15238.9411
483    15248.5286
484    15339.6078
485    15365.0745
486    15455.0745
487    15484.7745
488    15492.8245
489    15508.7245
490    15528.6912
491    15535.9412
492    15566.4412
493    15615.9454
494    15623.9954
495    15638.4537
496    15716.7204
497    15731.8204
498    15883.3704
499    15891.1662
500    15899.8287
501    15907.5787
502    15915.2079
503    15924.7954
504    16011.2954
505    16120.1954
506    16146.1954
507    16172.7454
508    16195.2704
509    16251.7662
510    16259.5162
511    16267.5662
512    16293.8537
513    16353.2537
514    16360.7495
515    16394.7703
516    16405.2703
517    16429.4203
518    16455.4203
519    16463.3161
520    16556.8161
521    16564.7119
522    16571.9369
523    16629.9161
524    16637.1453
525    16644.8953
526    16655.3953
527    16877.1745
528    16885.0995
529    16896.5995
530    16922.5995
531    16929.8287
532    16937.0579
533    16959.4162
534    16968.0787
535    16994.3287
536    17020.8787
537    17127.3037
538    17141.8037
539    17191.3037
540    17262.3037
541    17293.5787
542    17324.8537
543    17350.8537
544    17457.2787
545    17483.2787
546    17509.2787
547    17523.1412
548    17543.6662
549    17580.4162
550    17691.2995
551    17717.2995
552    17725.1287
553    17732.3537
554    17740.1287
555    17766.6787
556    17806.2787
557    18033.8037
558    18113.4537
559    18130.8537
560    18138.6037
561    18146.4995
562    18159.9995
563    18168.0495
564    18176.0995
565    18200.2495
566    18208.1453
567    18229.2203
568    18236.4495
569    18244.3037
570    18254.8037
571    18306.2829
572    18332.6704
573    18340.4204
574    18348.4704
575    18362.9704
576    18375.9704
577    18431.8704
578    18446.3287
579    18454.2537
580    18484.2537
581    18595.1370
582    18621.1370
583    18661.2620
584    18669.9745
585    18749.6245
586    18764.6245
587    18843.8245
588    18851.8745
589    18859.9245
590    18867.0495
591    18945.3162
592    18952.5662
593    18960.3162
594    18986.3162
595    19010.4662
596    19043.4662
597    19043.4662
598    19050.6912
599    19107.6204
600    19134.6204
601    19142.5162
602    19184.9162
603    19192.9662
604    19219.5162
605    19235.0662
606    19242.9620
607    19273.4620
608    19315.0412
609    19468.5037
610    19499.7787
611    19506.8287
612    19522.3287
613    19530.0787
614    19538.1287
615    19603.1287
616    19617.5287
617    19633.6287
618    19672.6287
619    19683.1287
620    19697.5829
621    19750.1371
622    19765.8788
623    19773.7330
624    19789.8330
625    19822.1538
626    19834.5038
627    19912.4621
628    19920.3579
629    19928.0912
630    19958.0912
631    19965.1454
632    19995.6454
633    19995.6454
634    20023.5454
635    20036.5454
636    20044.4704
637    20070.7204
638    20110.4079
639    20126.5079
640    20134.3621
641    20203.6621
642    20231.5621
643    20288.0579
644    20307.3162
645    20384.0454
646    20391.9412
647    20427.4412
648    20434.9912
649    20442.5412
650    20450.4370
651    20473.4370
652    20481.8703
653    20489.6995
654    20496.4495
655    20569.9495
656    20577.8453
657    20593.3453
658    20606.3453
659    20719.6203
660    20853.2703
661    20860.4953
662    20886.0828
663    20893.5786
664    20901.5036
665    20975.0036
666    20988.0036
667    20995.7786
668    21003.8286
669    21055.8286
670    21094.8286
671    21146.8286
672    21157.3286
673    21170.3286
674    21170.3286
675    21178.1036
676    21186.1536
677    21195.9953
678    21242.8953
679    21755.2245
680    21763.3620
681    21840.0912
682    21849.3162
683    21896.2162
684    21935.2162
685    21976.7954
686    22016.4829
687    22026.6537
688    22034.4495
689    22245.7870
690    22302.7870
691    22316.2037
692    22372.6995
693    22379.9245
694    22406.4745
695    22419.9745
696    22428.0245
697    22435.7578
698    22546.6411
699    22554.2911
700    22781.8161
701    22808.1036
702    22822.5578
703    22830.2995
704    22838.1537
705    22864.1537
706    22877.6537
707    22903.9412
708    23055.4912
709    23070.7370
710    23120.2412
711    23146.7912
712    23198.7912
713    23208.2745
714    23221.2745
715    23228.9245
716    23456.4495
717    23466.9495
718    23482.4495
719    23490.2245
720    23523.2245
721    23530.2787
722    23543.2787
723    23556.2787
724    23609.3787
725    23618.0412
726    23639.0412
727    23646.7787
728    23672.7787
729    23680.7037
730    23892.0412
731    23910.8287
732    23910.8287
733    23923.8287
734    23936.8287
735    23952.9287
736    23987.3037
737    24499.6329
738    24507.5287
739    24515.4245
740    24545.4245
741    24624.2745
742    24886.6495
743    24902.7495
744    24910.6745
745    24981.6745
746    25001.9245
747    25014.9245
748    25068.0245
749    25075.7745
750    25098.7745
751    25111.2495
752    25120.7495
753    25128.6453
754    25193.6453
755    25208.1453
756    25215.9411
757    25227.4411
758    25235.4911
759    25321.9911
760    25336.4911
761    25343.6161
762    25350.8453
763    25470.8453
764    25478.6203
765    25556.5786
766    25596.1786
767    25603.9286
768    25628.0786
769    25636.4411
770    25645.9411
771    25653.7953
772    25664.2953
773    25671.5203
774    25694.5203
775    25702.2703
776    25710.0203
777    25722.4953
778    25730.2328
779    25941.5703
780    25948.7995
781    26005.7995
782    26035.7995
783    26059.2495
784    26066.2995
785    26073.5495
786    26081.0453
787    26110.1703
788    26130.7453
789    26209.9453
790    26217.6953
791    26243.6953
792    26313.2453
793    26343.9411
794    26351.8369
795    26364.8369
796    26390.7661
797    26399.4494
798    26406.6786
799    26430.8286
800    26443.8286
801    26470.0786
802    26590.0786
803    26598.5953
804    26605.5703
805    26613.3453
806    26613.3453
807    26621.1203
808    26634.1203
809    26687.2203
810    26695.1078
811    26719.2578
812    26729.7578
813    26761.0328
814    26769.0828
815    26769.0828
816    26777.0078
817    26814.0120
818    26820.4620
819    26848.3620
820    26941.8620
821    26950.5245
822    26950.5245
823    26962.9995
824    27002.6870
825    27009.6370
826    27066.1328
827    27103.1370
828    27110.8870
829    27190.8870
830    27205.3412
831    27224.0912
832    27231.3204
833    27239.1746
834    27247.4746
835    27330.6329
836    27339.2954
837    27347.3454
838    27403.8412
839    27433.5412
840    27441.4662
841    27451.9662
842    27482.9662
843    27489.4037
844    27498.0662
845    27505.6162
846    27575.1662
847    27583.0620
848    27616.0620
849    27705.1662
850    27736.4412
851    27744.2162
852    27759.4620
853    27798.8620
854    27824.8620
855    27834.2120
856    27999.0787
857    28025.6287
858    28044.8870
859    28052.1162
860    28066.2245
861    28077.7245
862    28103.6537
863    28173.2037
864    28186.2037
865    28199.2037
866    28213.0620
867    28263.5578
868    28273.0578
869    28284.1911
870    28292.0869
871    28344.6411
872    28349.6411
873    28358.6411
874    28382.6411
875    28389.8661
876    28399.7119
877    28407.6077
878    28415.5035
879    28498.6618
880    28524.6618
881    28532.5576
882    28543.0743
883    28553.5743
884    28560.6243
885    28589.7493
886    28602.7493
887    28632.7493
888    28656.1993
889    28686.1993
890    28693.9493
Name: fare, dtype: float64

In [112]:
titanic.corr(numeric_only=True)
#상관관계 분석하기

,survived,pclass,age,sibsp,parch,fare,fare_rank
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.322046
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.700150
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,-0.116334
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.357585
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.366020
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.639490
fare_rank,-0.322046,0.700150,-0.116334,-0.357585,-0.366020,-0.639490,1.000000

In [ ]:
titanic.survived.corr(titanic.pclass)

### The agg() method

In [2]:
import pandas as pd

In [3]:
titanic = pd.read_csv("titanic.csv")

In [115]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [116]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [146]:
titanic.mean()

TypeError: can only concatenate str (not "int") to str

In [119]:
titanic.agg("mean", numeric_only=True)

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [143]:
#titanic.agg(["mean", "std"]) 원래 이건데 버전이 달라져서 그런가 오류가 뜸
#그래서 dtype이 jnt형식일때만 agg할 수 있도록 수정해봄
#titanic.info()
titanic_int_float = titanic.select_dtypes(include=['int', 'float'])
titanic_int_float.agg(["mean", "std"])

      survived    pclass        age     sibsp     parch       fare
mean  0.383838  2.308642  29.699118  0.523008  0.381594  32.204208
std   0.486592  0.836071  14.526497  1.102743  0.806057  49.693429

In [145]:
#titanic.agg(["mean", "std", "min", "max", "median"])
#얘도 마찬가지로 오류가 뜬다.
titanic_int_float = titanic.select_dtypes(include=['int', 'float'])
titanic_int_float.agg(["mean", "std", "min", "max", "median"])

        survived    pclass        age     sibsp     parch        fare
mean    0.383838  2.308642  29.699118  0.523008  0.381594   32.204208
std     0.486592  0.836071  14.526497  1.102743  0.806057   49.693429
min     0.000000  1.000000   0.420000  0.000000  0.000000    0.000000
max     1.000000  3.000000  80.000000  8.000000  6.000000  512.329200
median  0.000000  3.000000  28.000000  0.000000  0.000000   14.454200

In [148]:
titanic.agg({"survived": "mean", "age":["min", "max"]})
#survived는 평균값만 보고 age는 최소값 및 최대값만 확인할 때
#리스트 대신 딕셔너리로 이용하면 된다.

      survived    age
mean  0.383838    NaN
min        NaN   0.42
max        NaN  80.00

In [147]:
titanic.describe()
#describe랑 다른점? 
#agg는 사용자 지정 집계 함수 적용 가능
#dsscribe는 기본 통계 요약 제공

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

### apply(), map() and applymap()

In [149]:
import pandas as pd

In [150]:
sales = pd.read_csv("sales.csv", index_col = 0)

In [151]:
sales

        Mon  Tue  Wed   Thu  Fri
Steven   34   27   15   NaN   33
Mike     45    9   74  87.0   12
Andi     17   33   54   8.0   29
Paul     87   67   27  45.0    7

In [152]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Steven to Paul
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mon     4 non-null      int64
 1   Tue     4 non-null      int64
 2   Wed     4 non-null      int64
 3   Thu     3 non-null      float64
 4   Fri     4 non-null      int64
dtypes: float64(1), int64(4)
memory usage: 192.0+ bytes

In [ ]:
#axis가 0이면 각 열의 계산을, 1이면 행을 계산한다.

In [153]:
sales.min(axis = 0)

Mon    17.0
Tue     9.0
Wed    15.0
Thu     8.0
Fri     7.0
dtype: float64

In [154]:
sales.min(axis = 1)

Steven    15.0
Mike       9.0
Andi       8.0
Paul       7.0
dtype: float64

In [165]:
def range(series):
    return series.max() - series.min()

In [167]:
sales.apply(lambda x: x.max() - x.min(), axis = 0)
# sales.apply(range, axis=0) 도 똑같은 결과를 반환함
#apply()는 사용자 정의 함수를 실행할 수 있는 함수

Mon    70.0
Tue    58.0
Wed    59.0
Thu    79.0
Fri    26.0
dtype: float64

In [168]:
summer = pd.read_csv("summer.csv")

In [169]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [170]:
summer.Athlete.apply(lambda x: x[0])

0        H
1        H
2        D
3        M
4        C
        ..
31160    J
31161    R
31162    T
31163    A
31164    L
Name: Athlete, Length: 31165, dtype: object

In [171]:
summer.Athlete.map(lambda x: x[0])

0        H
1        H
2        D
3        M
4        C
        ..
31160    J
31161    R
31162    T
31163    A
31164    L
Name: Athlete, Length: 31165, dtype: object

In [172]:
summer.iloc[:,1:3].applymap(lambda x: x[0])

      City Sport
0        A     A
1        A     A
2        A     A
3        A     A
4        A     A
...    ...   ...
31160    L     W
31161    L     W
31162    L     W
31163    L     W
31164    L     W

[31165 rows x 2 columns]

In [173]:
sales.applymap(lambda x: 0.4*x-5)

         Mon   Tue   Wed   Thu  Fri
Steven   8.6   5.8   1.0   NaN  8.2
Mike    13.0  -1.4  24.6  29.8 -0.2
Andi     1.8   8.2  16.6  -1.8  6.6
Paul    29.8  21.8   5.8  13.0 -2.2

In [ ]:
sales*0.4-5

### Hierarchical Indexing (MultiIndex) Intro

In [9]:
import pandas as pd

In [10]:
titanic = pd.read_csv("titanic.csv")

In [11]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [12]:
titanic = titanic.iloc[:50, :]

In [13]:
titanic.set_index(["pclass", "sex"], inplace = True)

In [14]:
titanic

               survived   age  sibsp  parch      fare embarked deck
pclass sex
3      male           0  22.0      1      0    7.2500        S  NaN
1      female         1  38.0      1      0   71.2833        C    C
3      female         1  26.0      0      0    7.9250        S  NaN
1      female         1  35.0      1      0   53.1000        S    C
3      male           0  35.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    8.4583        Q  NaN
1      male           0  54.0      0      0   51.8625        S    E
3      male           0   2.0      3      1   21.0750        S  NaN
       female         1  27.0      0      2   11.1333        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
3      female         1   4.0      1      1   16.7000        S    G
1      female         1  58.0      0      0   26.5500        S    C
3      male           0  20.0      0      0    8.0500        S  NaN
       male           0  39.0      1      5   31.2750        S  NaN
       female         0  14.0      0      0    7.8542        S  NaN
2      female         1  55.0      0      0   16.0000        S  NaN
3      male           0   2.0      4      1   29.1250        Q  NaN
2      male           1   NaN      0      0   13.0000        S  NaN
3      female         0  31.0      1      0   18.0000        S  NaN
       female         1   NaN      0      0    7.2250        C  NaN
2      male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
3      female         1  15.0      0      0    8.0292        Q  NaN
1      male           1  28.0      0      0   35.5000        S    A
3      female         0   8.0      3      1   21.0750        S  NaN
       female         1  38.0      1      5   31.3875        S  NaN
       male           0   NaN      0      0    7.2250        C  NaN
1      male           0  19.0      3      2  263.0000        S    C
3      female         1   NaN      0      0    7.8792        Q  NaN
       male           0   NaN      0      0    7.8958        S  NaN
1      male           0  40.0      0      0   27.7208        C  NaN
       female         1   NaN      1      0  146.5208        C    B
3      female         1   NaN      0      0    7.7500        Q  NaN
2      male           0  66.0      0      0   10.5000        S  NaN
1      male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
3      male           1   NaN      0      0    7.2292        C  NaN
       male           0  21.0      0      0    8.0500        S  NaN
       female         0  18.0      2      0   18.0000        S  NaN
       female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
2      female         0  27.0      1      0   21.0000        S  NaN
3      male           0   NaN      0      0    7.8958        C  NaN
2      female         1   3.0      1      2   41.5792        C  NaN
3      female         1  19.0      0      0    7.8792        Q  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN
       female         0  18.0      1      0   17.8000        S  NaN

In [15]:
titanic.sort_index(ascending = [True, True], inplace = True)

C:\Users\halim\AppData\Local\Temp\ipykernel_3392\3779843928.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic.sort_index(ascending = [True, True], inplace = True)

In [16]:
titanic

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN
3      female         1  26.0      0      0    7.9250        S  NaN
       female         1  27.0      0      2   11.1333        S  NaN
       female         1   4.0      1      1   16.7000        S    G
       female         0  14.0      0      0    7.8542        S  NaN
       female         0  31.0      1      0   18.0000        S  NaN
       female         1   NaN      0      0    7.2250        C  NaN
       female         1  15.0      0      0    8.0292        Q  NaN
       female         0   8.0      3      1   21.0750        S  NaN
       female         1  38.0      1      5   31.3875        S  NaN
       female         1   NaN      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      2      0   18.0000        S  NaN
       female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN
       male           0  22.0      1      0    7.2500        S  NaN
       male           0  35.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    8.4583        Q  NaN
       male           0   2.0      3      1   21.0750        S  NaN
       male           0  20.0      0      0    8.0500        S  NaN
       male           0  39.0      1      5   31.2750        S  NaN
       male           0   2.0      4      1   29.1250        Q  NaN
       male           0   NaN      0      0    7.2250        C  NaN
       male           0   NaN      0      0    7.8958        S  NaN
       male           1   NaN      0      0    7.2292        C  NaN
       male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN

In [192]:
titanic.swaplevel()
#인덱스의 순서를 교환가능함
#in_plcae가 없기에 새로운 걸로 만들어야 저장가능함

               survived   age  sibsp  parch      fare embarked deck
sex    pclass
female 1              1  38.0      1      0   71.2833        C    C
       1              1  35.0      1      0   53.1000        S    C
       1              1  58.0      0      0   26.5500        S    C
       1              1   NaN      1      0  146.5208        C    B
male   1              0  54.0      0      0   51.8625        S    E
       1              1  28.0      0      0   35.5000        S    A
       1              0  19.0      3      2  263.0000        S    C
       1              0  40.0      0      0   27.7208        C  NaN
       1              0  28.0      1      0   82.1708        C  NaN
       1              0  42.0      1      0   52.0000        S  NaN
female 2              1  14.0      1      0   30.0708        C  NaN
       2              1  55.0      0      0   16.0000        S  NaN
       2              0  27.0      1      0   21.0000        S  NaN
       2              1   3.0      1      2   41.5792        C  NaN
male   2              1   NaN      0      0   13.0000        S  NaN
       2              0  35.0      0      0   26.0000        S  NaN
       2              1  34.0      0      0   13.0000        S    D
       2              0  66.0      0      0   10.5000        S  NaN
female 3              1  26.0      0      0    7.9250        S  NaN
       3              1  27.0      0      2   11.1333        S  NaN
       3              1   4.0      1      1   16.7000        S    G
       3              0  14.0      0      0    7.8542        S  NaN
       3              0  31.0      1      0   18.0000        S  NaN
       3              1   NaN      0      0    7.2250        C  NaN
       3              1  15.0      0      0    8.0292        Q  NaN
       3              0   8.0      3      1   21.0750        S  NaN
       3              1  38.0      1      5   31.3875        S  NaN
       3              1   NaN      0      0    7.8792        Q  NaN
       3              1   NaN      0      0    7.7500        Q  NaN
       3              0  18.0      2      0   18.0000        S  NaN
       3              1  14.0      1      0   11.2417        C  NaN
       3              0  40.0      1      0    9.4750        S  NaN
       3              1  19.0      0      0    7.8792        Q  NaN
       3              1   NaN      0      0    7.7500        Q  NaN
       3              0  18.0      1      0   17.8000        S  NaN
male   3              0  22.0      1      0    7.2500        S  NaN
       3              0  35.0      0      0    8.0500        S  NaN
       3              0   NaN      0      0    8.4583        Q  NaN
       3              0   2.0      3      1   21.0750        S  NaN
       3              0  20.0      0      0    8.0500        S  NaN
       3              0  39.0      1      5   31.2750        S  NaN
       3              0   2.0      4      1   29.1250        Q  NaN
       3              0   NaN      0      0    7.2250        C  NaN
       3              0   NaN      0      0    7.8958        S  NaN
       3              1   NaN      0      0    7.2292        C  NaN
       3              0  21.0      0      0    8.0500        S  NaN
       3              0   NaN      0      0    7.8958        C  NaN
       3              0   NaN      0      0    8.0500        S  NaN
       3              0   NaN      1      0   15.5000        Q  NaN
       3              0   NaN      2      0   21.6792        C  NaN

In [193]:
titanic

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN
3      female         1  26.0      0      0    7.9250        S  NaN
       female         1  27.0      0      2   11.1333        S  NaN
       female         1   4.0      1      1   16.7000        S    G
       female         0  14.0      0      0    7.8542        S  NaN
       female         0  31.0      1      0   18.0000        S  NaN
       female         1   NaN      0      0    7.2250        C  NaN
       female         1  15.0      0      0    8.0292        Q  NaN
       female         0   8.0      3      1   21.0750        S  NaN
       female         1  38.0      1      5   31.3875        S  NaN
       female         1   NaN      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      2      0   18.0000        S  NaN
       female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN
       male           0  22.0      1      0    7.2500        S  NaN
       male           0  35.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    8.4583        Q  NaN
       male           0   2.0      3      1   21.0750        S  NaN
       male           0  20.0      0      0    8.0500        S  NaN
       male           0  39.0      1      5   31.2750        S  NaN
       male           0   2.0      4      1   29.1250        Q  NaN
       male           0   NaN      0      0    7.2250        C  NaN
       male           0   NaN      0      0    7.8958        S  NaN
       male           1   NaN      0      0    7.2292        C  NaN
       male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN

In [17]:
titanic.reset_index(inplace = True)
#초기화

In [18]:
titanic

    pclass     sex  survived   age  sibsp  parch      fare embarked deck
0        1  female         1  38.0      1      0   71.2833        C    C
1        1  female         1  35.0      1      0   53.1000        S    C
2        1  female         1  58.0      0      0   26.5500        S    C
3        1  female         1   NaN      1      0  146.5208        C    B
4        1    male         0  54.0      0      0   51.8625        S    E
5        1    male         1  28.0      0      0   35.5000        S    A
6        1    male         0  19.0      3      2  263.0000        S    C
7        1    male         0  40.0      0      0   27.7208        C  NaN
8        1    male         0  28.0      1      0   82.1708        C  NaN
9        1    male         0  42.0      1      0   52.0000        S  NaN
10       2  female         1  14.0      1      0   30.0708        C  NaN
11       2  female         1  55.0      0      0   16.0000        S  NaN
12       2  female         0  27.0      1      0   21.0000        S  NaN
13       2  female         1   3.0      1      2   41.5792        C  NaN
14       2    male         1   NaN      0      0   13.0000        S  NaN
15       2    male         0  35.0      0      0   26.0000        S  NaN
16       2    male         1  34.0      0      0   13.0000        S    D
17       2    male         0  66.0      0      0   10.5000        S  NaN
18       3  female         1  26.0      0      0    7.9250        S  NaN
19       3  female         1  27.0      0      2   11.1333        S  NaN
20       3  female         1   4.0      1      1   16.7000        S    G
21       3  female         0  14.0      0      0    7.8542        S  NaN
22       3  female         0  31.0      1      0   18.0000        S  NaN
23       3  female         1   NaN      0      0    7.2250        C  NaN
24       3  female         1  15.0      0      0    8.0292        Q  NaN
25       3  female         0   8.0      3      1   21.0750        S  NaN
26       3  female         1  38.0      1      5   31.3875        S  NaN
27       3  female         1   NaN      0      0    7.8792        Q  NaN
28       3  female         1   NaN      0      0    7.7500        Q  NaN
29       3  female         0  18.0      2      0   18.0000        S  NaN
30       3  female         1  14.0      1      0   11.2417        C  NaN
31       3  female         0  40.0      1      0    9.4750        S  NaN
32       3  female         1  19.0      0      0    7.8792        Q  NaN
33       3  female         1   NaN      0      0    7.7500        Q  NaN
34       3  female         0  18.0      1      0   17.8000        S  NaN
35       3    male         0  22.0      1      0    7.2500        S  NaN
36       3    male         0  35.0      0      0    8.0500        S  NaN
37       3    male         0   NaN      0      0    8.4583        Q  NaN
38       3    male         0   2.0      3      1   21.0750        S  NaN
39       3    male         0  20.0      0      0    8.0500        S  NaN
40       3    male         0  39.0      1      5   31.2750        S  NaN
41       3    male         0   2.0      4      1   29.1250        Q  NaN
42       3    male         0   NaN      0      0    7.2250        C  NaN
43       3    male         0   NaN      0      0    7.8958        S  NaN
44       3    male         1   NaN      0      0    7.2292        C  NaN
45       3    male         0  21.0      0      0    8.0500        S  NaN
46       3    male         0   NaN      0      0    7.8958        C  NaN
47       3    male         0   NaN      0      0    8.0500        S  NaN
48       3    male         0   NaN      1      0   15.5000        Q  NaN
49       3    male         0   NaN      2      0   21.6792        C  NaN

### Hierarchical Indexing (MultiIndex) Part 2

In [19]:
import pandas as pd

In [20]:
titanic = pd.read_csv("titanic.csv")

In [28]:
titanic = titanic.iloc[:50,]

In [29]:
titanic

    survived  pclass     sex   age  sibsp  parch      fare embarked deck
0          0       3    male  22.0      1      0    7.2500        S  NaN
1          1       1  female  38.0      1      0   71.2833        C    C
2          1       3  female  26.0      0      0    7.9250        S  NaN
3          1       1  female  35.0      1      0   53.1000        S    C
4          0       3    male  35.0      0      0    8.0500        S  NaN
5          0       3    male   NaN      0      0    8.4583        Q  NaN
6          0       1    male  54.0      0      0   51.8625        S    E
7          0       3    male   2.0      3      1   21.0750        S  NaN
8          1       3  female  27.0      0      2   11.1333        S  NaN
9          1       2  female  14.0      1      0   30.0708        C  NaN
10         1       3  female   4.0      1      1   16.7000        S    G
11         1       1  female  58.0      0      0   26.5500        S    C
12         0       3    male  20.0      0      0    8.0500        S  NaN
13         0       3    male  39.0      1      5   31.2750        S  NaN
14         0       3  female  14.0      0      0    7.8542        S  NaN
15         1       2  female  55.0      0      0   16.0000        S  NaN
16         0       3    male   2.0      4      1   29.1250        Q  NaN
17         1       2    male   NaN      0      0   13.0000        S  NaN
18         0       3  female  31.0      1      0   18.0000        S  NaN
19         1       3  female   NaN      0      0    7.2250        C  NaN
20         0       2    male  35.0      0      0   26.0000        S  NaN
21         1       2    male  34.0      0      0   13.0000        S    D
22         1       3  female  15.0      0      0    8.0292        Q  NaN
23         1       1    male  28.0      0      0   35.5000        S    A
24         0       3  female   8.0      3      1   21.0750        S  NaN
25         1       3  female  38.0      1      5   31.3875        S  NaN
26         0       3    male   NaN      0      0    7.2250        C  NaN
27         0       1    male  19.0      3      2  263.0000        S    C
28         1       3  female   NaN      0      0    7.8792        Q  NaN
29         0       3    male   NaN      0      0    7.8958        S  NaN
30         0       1    male  40.0      0      0   27.7208        C  NaN
31         1       1  female   NaN      1      0  146.5208        C    B
32         1       3  female   NaN      0      0    7.7500        Q  NaN
33         0       2    male  66.0      0      0   10.5000        S  NaN
34         0       1    male  28.0      1      0   82.1708        C  NaN
35         0       1    male  42.0      1      0   52.0000        S  NaN
36         1       3    male   NaN      0      0    7.2292        C  NaN
37         0       3    male  21.0      0      0    8.0500        S  NaN
38         0       3  female  18.0      2      0   18.0000        S  NaN
39         1       3  female  14.0      1      0   11.2417        C  NaN
40         0       3  female  40.0      1      0    9.4750        S  NaN
41         0       2  female  27.0      1      0   21.0000        S  NaN
42         0       3    male   NaN      0      0    7.8958        C  NaN
43         1       2  female   3.0      1      2   41.5792        C  NaN
44         1       3  female  19.0      0      0    7.8792        Q  NaN
45         0       3    male   NaN      0      0    8.0500        S  NaN
46         0       3    male   NaN      1      0   15.5000        Q  NaN
47         1       3  female   NaN      0      0    7.7500        Q  NaN
48         0       3    male   NaN      2      0   21.6792        C  NaN
49         0       3  female  18.0      1      0   17.8000        S  NaN

In [30]:
titanic = titanic.set_index(["pclass", "sex"]).sort_index(ascending = True)

In [31]:
titanic

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN
3      female         1  26.0      0      0    7.9250        S  NaN
       female         1  27.0      0      2   11.1333        S  NaN
       female         1   4.0      1      1   16.7000        S    G
       female         0  14.0      0      0    7.8542        S  NaN
       female         0  31.0      1      0   18.0000        S  NaN
       female         1   NaN      0      0    7.2250        C  NaN
       female         1  15.0      0      0    8.0292        Q  NaN
       female         0   8.0      3      1   21.0750        S  NaN
       female         1  38.0      1      5   31.3875        S  NaN
       female         1   NaN      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      2      0   18.0000        S  NaN
       female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN
       male           0  22.0      1      0    7.2500        S  NaN
       male           0  35.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    8.4583        Q  NaN
       male           0   2.0      3      1   21.0750        S  NaN
       male           0  20.0      0      0    8.0500        S  NaN
       male           0  39.0      1      5   31.2750        S  NaN
       male           0   2.0      4      1   29.1250        Q  NaN
       male           0   NaN      0      0    7.2250        C  NaN
       male           0   NaN      0      0    7.8958        S  NaN
       male           1   NaN      0      0    7.2292        C  NaN
       male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN

In [32]:
titanic.loc[1]

        survived   age  sibsp  parch      fare embarked deck
sex
female         1  38.0      1      0   71.2833        C    C
female         1  35.0      1      0   53.1000        S    C
female         1  58.0      0      0   26.5500        S    C
female         1   NaN      1      0  146.5208        C    B
male           0  54.0      0      0   51.8625        S    E
male           1  28.0      0      0   35.5000        S    A
male           0  19.0      3      2  263.0000        S    C
male           0  40.0      0      0   27.7208        C  NaN
male           0  28.0      1      0   82.1708        C  NaN
male           0  42.0      1      0   52.0000        S  NaN

In [33]:
titanic.loc[[1,2]]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN

In [34]:
titanic.loc[:2]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN

In [37]:
titanic.loc[1, "female"]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B

In [38]:
#titanic.loc[1, "female", "age"]
#소괄호로 묶는 방법으로 해결, 아래아래 참고

In [39]:
titanic.loc[(1,"female")]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B

In [40]:
titanic.loc[(1,"female"), "age"]

pclass  sex
1       female    38.0
        female    35.0
        female    58.0
        female     NaN
Name: age, dtype: float64

In [ ]:
titanic.loc[([1,2],"female"), ["age", "fare"]]

In [ ]:
titanic.loc[([1, 2],"female"), :]

In [ ]:
titanic

In [57]:
 titanic.loc[(slice(1,2), slice("female")), :]
#항상 작동하는 가장 표준적인 방법

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN

In [55]:
mask1 = titanic.age==38.0
mask2 = titanic.parch ==0

In [56]:
titanic.loc[(mask1 & mask2)]

               survived   age  sibsp  parch     fare embarked deck
pclass sex
1      female         1  38.0      1      0  71.2833        C    C

### String Operations Intro / Refresher

In [ ]:
"Hello World"

In [ ]:
type("Hello World")

In [ ]:
hello = "Hello World"
hello

In [ ]:
len(hello)

In [ ]:
hello.lower()

In [ ]:
hello.upper()

In [ ]:
hello.title()

In [ ]:
hello.split(" ")

In [ ]:
hello.replace("Hello", "Hi")

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
names = summer.loc[:9, "Athlete"].copy()

In [ ]:
names

In [ ]:
names.dtypes

In [ ]:
names[0]

In [ ]:
type(names[0])

In [ ]:
names.str.lower()

### String Operations in Pandas

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
names = summer.loc[:9, "Athlete"].copy()

In [ ]:
names

In [ ]:
names.str.lower()

In [ ]:
names.str.title()

In [ ]:
summer.Event.str.split(" ", n = 2, expand= True)

In [ ]:
summer[summer.Event.str.contains("100M")]